body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15.25px;
    letter-spacing: 0em;
    line-height: 1.6em;
    text-transform: none;
    color: #767474;
    padding-top: 2px;
    z-index:-1 !important;
    position: absolute;
}

.invisible {
    position: absolute;
    left: -9999px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    z-index: -1 !important;
    position: relative;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.contentRow
{
    border-spacing: 5px !important;
}


.content-div1 {
    background-color: #91d6ac !important;
}

.content-div2 {
    background-color: #00b398 !important;
    color: #fff;
}

.pho-scrollable-content html {
    height:100%; 
    max-height:100%;
}

.content-footer {
    /*background-color: #91d6ac !important;*/
}

.validationText {
    color: red;
}

/*th.pho-table-data {
    background-color: rgba(145, 214, 172, 0.30);
}
tr.pho-table-data:nth-child(even) {
    background-color: rgba(145, 214, 172, 0.30);
}*/


.tweak-footer-show .Footer {
    display: block;
}

.Footer {
    /* display: none; */    
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

.Header--top {
    /*display: none;*/
    background: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1 !important;
    position: relative;
}

.Header-inner--top {
    padding-top: 6px;
    padding-bottom: 6px;
}

.Header-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    margin-left: 12.5px;
    margin-right: 12.5px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.top-left{
    width: 250px;
    max-width: 300px;
}

.Header-branding-logo {
    width: 7%; 
    padding-bottom: 12px;
    padding-top: 12px;
}

.img-top1 {
    overflow: hidden;
    position: relative;
    z-index:-1
}
.table-container {
    overflow: scroll;
}

.text-block {
    position: absolute;
    top: 2px;
    left: 30px;
    background-color: transparent;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: nunito-sans !important;
}


.Header-nav {
    white-space: nowrap;
    line-height: 1em;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0em;
    text-transform: none;
    border-bottom: none;
    margin-top: 2px;
    z-index:1;
    position:relative;
}

.Header-nav-item {
    -webkit-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    -moz-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    -o-transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
    color: #b0b0b0 !important;
    text-decoration:none !important;    
    font-size: 18px;
    line-height: 67px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    margin-top: 12.5px;
}


.Header-nav-item {
    display: inline;
    vertical-align: middle;
    font-family: 'Arvo', serif !important;
}

.Header-nav-item a
{
    line-height: 50px;
}


.table-structure tr {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}


x

.wrapper {
    width: 70%;
}

@media(max-width:1200px) {
    .wrapper {
        width: 100%;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: rgba(0,0,0,0.7);
    font-family: "Avenir Next";
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Nunito Sans';
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading-initiative a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    color: #A57CB7;
    padding: 0px 5px 0px 5px;
    float: left;
    transition: all 0.4s;
}
.panel-heading-cohort a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    color: #4C9E45;
    padding: 0px 5px 0px 5px;
    float: left;
    transition: all 0.4s;
}
.panel-heading-survey a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    color: #E73F50;
    padding: 0px 5px 0px 5px;
    float: left;
    transition: all 0.4s;
}

.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080"; /* adjust as needed, taken from bootstrap.css */
}

@font-face {
    font-family: "Archer Bold";
    font-style: normal;
    src: url(../fonts/ArcherBold.otf); /*if IE */
    src: local("MyCustomFont2"), url("../fonts/ArcherBold.otf") format("truetype"); /* non-IE */
}

.dashboard-initiative {
    color: #A57CB7 !important;
}
.dashboard-cohort {
    color: #4C9E45 !important;
}
.dashboard-survey {
    color: #E73F50 !important;
}

.dashboard-label {
    outline: none;
    font-family: 'Archer Bold';
}
.dashboard-input {
    outline:none;
    border:none;
    resize:none !important;
}


.dashboard-input textarea {
    resize: none;
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    height: 100%;
    margin: -10px;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 
