<div class="content-main">
  <div fxLayout="row" class="patients-header">
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>PCP</mat-label>
        <mat-select [(ngModel)]="providers" (selectionChange)="patientHasPCP()">
          <mat-option *ngFor="let provider of providersList" [value]="provider.id">
            {{provider.name}}
          </mat-option>
          <mat-option>All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>Population Slices</mat-label>
        <mat-select [(ngModel)]="popSlices" (selectionChange)="patientHasPopSlice()">
          <mat-option *ngFor="let slice of popSliceList" [value]="slice.id">
            {{slice.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>Conditions</mat-label>
        <mat-select [(ngModel)]="conditions" multiple (selectionChange)="patientHasCondition($event)">
          <mat-option *ngFor="let condition of conditionsList" [value]="condition.id">
            {{condition.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter search-input" fxFlex fxLayoutAlign="center end">
      <mat-form-field>
        <input type="text" matInput placeholder="Search Patient Name" (change)="searchPatientsByName($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <mat-table [dataSource]="dataSource" id="patients" multiTemplateDataRows matSort matSortDisableClear
    (matSortChange)="sortChange($event)">
    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>
    <!-- DropDown Column -->
    <ng-container matColumnDef="arrow">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="material-icons rotate-icon">
          keyboard_arrow_right
        </i>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"
        [ngStyle]="{'color': (element.pendingStatusConfirmation ? '#f0673c' : '#4A4A4A') }">
        {{element.lastName | titlecase}}, {{element.firstName | titlecase}} </mat-cell>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Last ED Visit Column -->
    <ng-container matColumnDef="lastEDVisit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last ED Visit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastEDVisit | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Chronic Column -->
    <ng-container matColumnDef="chronic">
      <mat-header-cell *matHeaderCellDef> Chronic
        <mat-checkbox class="table-header-checkbox" [(ngModel)]="chronic" (change)="isChronicFilter($event)">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.chronic; else elseNo">
          Yes
        </ng-container>
        <ng-template #elseNo>
          No
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Watch List Column -->
    <ng-container matColumnDef="watchFlag">
      <mat-header-cell *matHeaderCellDef> Watch List
        <mat-checkbox class="table-header-checkbox" [(ngModel)]="watchFlag" (change)="isOnWatchlist($event)">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = renderIndex;" (click)="$event.stopPropagation()"
        (click)="updateWatchlistStatus(element.patientId, i)" (click)="element.watchFlag = !element.watchFlag">
        <button mat-icon-button>
          <i class="material-icons watchlist-icon" [ngClass]="element.watchFlag ? 'on-watchlist' : 'off-watchlist'">
            remove_red_eye
          </i>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Conditions Column -->
    <ng-container matColumnDef="conditions">
      <mat-header-cell *matHeaderCellDef> Conditions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxLayout="row wrap" fxLayoutGap="14px">
          <div *ngFor="let item of element.conditions" class="condition-container" fxLayout="column" fxflex="33%">
            <div class="condition-chip" [style.margin-bottom]="element.conditions?.length > 2 ? '5px' : '0px'"
              [style.margin-top]="element.conditions?.length > 2 ? '5px' : '0px'">
              {{item.name}}
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- button Column -->
    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef class="patientButtonAlign">
        <button mat-flat-button color="accent" class="add-patient-button" *ngIf="isUserAdmin"
          (click)="openAdminAddDialog()">ADD PATIENT</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
      </mat-cell>
    </ng-container>


    <!-- Hidden Columns===============================================================-->
    <!-- PCP Column -->
    <ng-container matColumnDef="pcP_StaffID">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.pcP_StaffID}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail" [attr.colspan]="displayedColumns.length"
        [@detailExpand]="detail == expandedElement ? 'expanded' : 'collapsed'">
        <div id="patient-details" fxFlex>
          <div fxLayout="row" class="detail-heading">DEMOGRAPHICS</div>
          <div fxLayout="row" *ngIf="isLoading">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <form *ngIf="patientDetails" [formGroup]="form" (ngSubmit)="openPatientSaveDialog()">
            <div fxLayout="row" fxLayoutGap="34px" class="form-row">
              <div fxLayout="column" fxFlex>
                <label for="patientMRNId">Epic MRN</label>
                {{epicMrn}}
              </div>
              <div fxLayout="column" fxFlex>
                <label for="firstName">First Name <span class="error-asterix">*</span></label>
                <input formControlName="firstName" name="firstName" />
                <div *ngIf="form.controls.firstName.errors?.required && form.controls.firstName.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="lastName">Last Name <span class="error-asterix">*</span></label>
                <input formControlName="lastName" name="lastName" />
                <div *ngIf="form.controls.lastName.errors?.required && form.controls.lastName.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="dob">Date of Birth <span class="error-asterix">*</span></label>
                <input formControlName="dob" name="dob" />
                <div *ngIf="form.controls.dob.errors?.required && form.controls.dob.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="email">Email</label>
                <input formControlName="email" name="email" />
              </div>
              <div fxLayout="column" fxFlex="115px">
                <label for="gender">Gender</label>
                <mat-form-field class="multi-select-override">
                  <mat-select matNativeControl formControlName="gender" [compareWith]="compareShortFn">
                    <mat-option *ngFor="let item of genderList" [value]="item">
                      {{item.shortName | i18nSelect: genderMap}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="34px" class="form-row">
              <div fxLayout="column">
                <label>ACTIVE PATIENT</label>
                <mat-slide-toggle formControlName="activeStatus" [checked]="form.controls.activeStatus"
                  name="activeStatus" ngDefaultControl>
                </mat-slide-toggle>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="pcpName">PCP</label>
                <mat-form-field class="multi-select-override">
                  <mat-select matNativeControl formControlName="pcpName" [compareWith]="compareFn">
                    <mat-option *ngFor="let item of providersList" [value]="item">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="insuranceName">Insurance</label>
                <mat-form-field class="multi-select-override">
                  <mat-select matNativeControl formControlName="insuranceName" class="insurance"
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let item of insuranceList" [value]="item">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex fxFill>
                <label for="conditions">Conditions</label>
                <mat-form-field class="multi-select-override">
                  <mat-select matNativeControl multiple formControlName="conditionsControl" [compareWith]="compareFn">
                    <mat-option *ngFor="let item of conditionsList" [value]="item">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="50px">
                <label for="pmcaScore">PMCA</label>
                {{pmcaScore}}
              </div>
              <div fxLayout="column" fxFlex>
                <label>Provider PMCA</label>
                <div mat-icon-button (click)="openPmcaDialog()">
                  {{providerPmcaScoreControl}} <span class="edit-dialog">
                    <mat-icon>edit</mat-icon> EDIT
                  </span>

                </div>
                <ng-template #pmcaDialog>
                  <div mat-dialog-content class="mat-typography pmca-dialog">
                    <label for="providerPMCAScore">Provider PMCA</label>
                    <div fxLayout="row" class="pmca-dialog-inputs">
                      <input formControlName="providerPMCAScore" name="providerPMCAScore"
                        (change)="pmcaProviderScoreChanged()" required />
                    </div>
                    <label for="providerNotes">Provider Notes</label>
                    <div fxLayout="row">
                      <textarea class="provider-notes-textarea" formControlName="providerNotes"
                        name="providerNotes"></textarea>
                    </div>
                    <div *ngIf="form.controls.providerPMCAScore.touched && form.controls.providerNotes.errors?.required"
                      class="form-error" fxLayout="row">
                      *Required
                    </div>
                  </div>
                  <div mat-dialog-actions align="end">
                    <button mat-button (click)="cancelPmcaUpdate()">Cancel</button>
                    <button mat-button (click)="updatePmcaScore()">Update</button>
                  </div>
                </ng-template>

              </div>
              <div fxLayout="column" fxFlex>
                <label for="providerNotes">Provider Notes</label>
                {{providerNotesControl | slice:0:17}}...
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="33px">
              <div fxLayout="column">
                <label for="phone1">Phone</label>
                <input formControlName="phone1" name="phone1" />
              </div>
              <div fxLayout="column" fxFlex="288px">
                <label for="addressLine1">Address</label>
                <input formControlName="addressLine1" name="addressLine1" />
              </div>
              <div fxLayout="column" fxFlex>
                <label for="city">City</label>
                <input formControlName="city" name="city" />
              </div>
              <div fxLayout="column" fxFlex>
                <label for="state">State</label>
                <mat-form-field class="multi-select-override">
                  <mat-select matNativeControl formControlName="state" [compareWith]="compareShortFn">
                    <mat-option *ngFor="let item of stateList" [value]="item">
                      {{item.shortName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="zip">Zip</label>
                <input formControlName="zip" name="zip" />
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="33px" fxLayoutAlign="end end" class="form-row">
              <div fxLayout="column" fxLayoutAlign="end">
                <button mat-flat-button color="accent" [disabled]="!form.valid" *ngIf="isUserAdmin && potentialPatient"
                (click)="openPatientAdminDialog()">PATIENT ADMIN</button>
              </div>
              <div fxLayout="column" fxLayoutAlign="end">
                <button mat-flat-button color="accent" [disabled]="!form.valid" *ngIf="isUserAdmin && !potentialPatient">Save</button>
              </div>
            </div>
            <div *ngIf = "!potentialPatient" >
              <ng-template #updatePatientDialog>
                <div mat-dialog-content class="mat-typography">
                  <h3>Are you sure you want to save changes to this patient?</h3>
                  <h3 class="text-warn">Patients made Inactive will be removed from the website but remain in the data
                    warehouse for analytical purposes.</h3>
                  <h3><strong>Do you still wish to continue?</strong></h3>
                </div>
                <div mat-dialog-actions align="end">
                  <button mat-button mat-dialog-close>Cancel</button>
                  <button mat-flat-button color="accent" mat-dialog-close (click)="submitForm()">Save and Update
                    Patient</button>
                </div>
              </ng-template>
            </div>
            <div *ngIf="!form.valid" class="entire-form-error" fxLayout="row">
              You must fill out all required fields to update the patient.
            </div>
          </form>
          <div fxLayout="row" class="border-row-top">
            <div fxLayout="column" fxFlex>
              <div fxLayout="row" class="detail-heading">METRICS</div>
              <div fxLayout="row" class="metric-data-box" *ngIf="patientDetails" [(ngModel)]="patientDetails"
                ngDefaultControl>
                <div fxLayout="column" class="metric-data" fxLayoutAlign="top center">
                  <span class="metric-number">{{patientDetails.practiceVisits}}</span>
                  <span class="metric-title">PRACTICE VISITS</span>
                </div>
                <div fxLayout="column" class="metric-data" fxLayoutAlign="top center">
                  <span class="metric-number">{{patientDetails.cchmcEncounters}}</span>
                  <span class="metric-title">CCHMC ENCOUNTERS</span>
                </div>
                <div fxLayout="column" class="metric-data" fxLayoutAlign="top center">
                  <span class="metric-number">{{patientDetails.healthBridgeEncounters}}</span>
                  <span class="metric-title">HEALTHBRIDGE ENCOUNTERS</span>
                </div>
                <div fxLayout="column" class="metric-data" fxLayoutAlign="top center">
                  <span class="metric-number">{{patientDetails.uniqueDXs}}</span>
                  <span class="metric-title">UNIQUE DXS</span>
                </div>
                <div fxLayout="column" class="metric-data" fxLayoutAlign="top center">
                  <span class="metric-number">{{patientDetails.uniqueCPTCodes}}</span>
                  <span class="metric-title">UNIQUE CPT CODES</span>
                </div>
              </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div fxLayout="column" class="visit-details-box" *ngIf="patientDetails" [(ngModel)]="patientDetails"
              ngDefaultControl fxFlex>
              <div fxLayout="row" class="detail-heading">VISIT DETAILS</div>
              <div fxLayout="row">
                <div fxLayout="column" fxFlex="50%">
                  <div fxLayout="row" class="detail-title">
                    LAST PRACTICE VISIT
                  </div>
                  <div fxLayout="row" class="detail-text">{{patientDetails.lastPracticeVisit | date:'MM/dd/yyyy'}}</div>
                  <div fxLayout="row" class="detail-title">
                    LAST CCHMC ADMIT
                  </div>
                  <div fxLayout="row" class="detail-text">{{patientDetails.lastCCHMCAdmit | date:'MM/dd/yyyy'}}</div>
                  <div fxLayout="row" class="detail-title">
                    LAST OR NEXT CCHMC APPT
                  </div>
                  <div fxLayout="row" class="detail-text">{{patientDetails.cchmcAppointment | date:'MM/dd/yyyy'}}</div>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row" class="detail-title">
                    Diagnosis
                  </div>
                  <div fxLayout="row" class="detail-text">{{patientDetails.lastDiagnosis}}</div>
                  <div fxLayout="row" class="detail-title">
                    Last healthbridge Admit
                  </div>
                  <div fxLayout="row" class="detail-text">{{patientDetails.lastHealthBridgeAdmit | date:'MM/dd/yyyy'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--This ends the not form section-->
        </div>
        <!--End Patient Details-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row"
      [class.expanded]="expandedElement == row" (click)="getPatientDetails(row.patientId)"
      (click)="expandedElement === row? expandedElement = null : expandedElement = row"></mat-row>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail'];" class="collapsed-detail">
    </tr>
  </mat-table>
  <mat-paginator [length]="patientRecords" [pageSize]="20" [pageSizeOptions]="[20, 40, 60]"></mat-paginator>
</div>

  <!--Dialogs ===========================-->
  <ng-template #adminDialog>
    <div mat-dialog-content class="mat-typography" id="admin-dialog">
      <form [formGroup]="adminPatientForm">
        <div fxLayout="row" class="detail-heading">ADD PATIENT</div>
        <br>
        
        <div fxLayout="row" fxLayoutGap="60px" class="form-row" fxLayoutAlign="start end" >
          <div fxLayout="column">
            <mat-form-field floatLabel="always">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required>
            </mat-form-field>
            <ng-container
              *ngIf="(adminPatientForm.get('firstName').touched || adminPatientForm.get('firstName').dirty) && (adminPatientForm.get('firstName').errors)">
              <mat-error *ngIf="adminPatientForm.get('firstName').errors.required">
                  *Required
              </mat-error>
            </ng-container>
          </div>
          <div fxLayout="column">

            <mat-form-field floatLabel="always">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required>
            </mat-form-field>
            <ng-container
              *ngIf="(adminPatientForm.get('lastName').touched || adminPatientForm.get('lastName').dirty) && (adminPatientForm.get('lastName').errors)">
              <mat-error *ngIf="adminPatientForm.get('lastName').errors.required">
                  *Required
              </mat-error>
            </ng-container>
          </div>

        </div>

        <!-- SPACER -->
        <div fxLayout="row" fxLayoutGap="100px" class="select-row" fxLayoutAlign="start end" ></div>
        <!-- SPACER -->
        <div fxLayout="row" fxLayoutGap="100px" class="select-row" fxLayoutAlign="start end" ></div>

        <div fxLayout="row" fxLayoutGap="60px" class="select-row" fxLayoutAlign="end end" >

          <div fxLayout="column" class="input-w-icon date-picker-input" fxLayoutAlign="end end">
            <mat-form-field floatLabel="always" class="multi-select-override">
              <mat-label>Date Of Birth</mat-label>
              <!-- <input matInput formControlName="dob" required> -->
              <input matInput placeholder="MM/DD/YYYY"
              formControlName="dob" [matDatepicker]="picker" required>
            <mat-datepicker-toggle matPrefix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                  calendar_today
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
            <ng-container
              *ngIf="(adminPatientForm.get('dob').touched || adminPatientForm.get('dob').dirty) && (adminPatientForm.get('dob').errors)">
              <mat-error *ngIf="adminPatientForm.get('dob').errors.required">
                  *Required
              </mat-error>
            </ng-container>
          </div>

          <div fxLayout="column" fxLayoutAlign="start end">
            <mat-form-field class="multi-select-override" floatLabel="always">
              <mat-label>Gender</mat-label>
              <mat-select matNativeControl formControlName="gender" [compareWith]="compareShortFn" required>
                <mat-option *ngFor="let item of genderList" [value]="item">
                  {{item.shortName | i18nSelect: genderMap}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <ng-container
              *ngIf="(adminPatientForm.get('dob').touched || adminPatientForm.get('dob').dirty) && (adminPatientForm.get('dob').errors)">
              <mat-error *ngIf="adminPatientForm.get('dob').errors.required">
                  *Required
              </mat-error>
            </ng-container>
          </div>

          <div fxLayout="column" fxLayoutAlign="start end">
            <mat-form-field class="multi-select-override" floatLabel="always">
              <mat-label>PCP</mat-label>
              <mat-select matNativeControl formControlName="pcpName" [compareWith]="compareFn" required>
                <mat-option *ngFor="let item of providersList" [value]="item">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <ng-container
              *ngIf="(adminPatientForm.get('pcpName').touched || adminPatientForm.get('pcpName').dirty) && (adminPatientForm.get('pcpName').errors)">
              <mat-error *ngIf="adminPatientForm.get('pcpName').errors.required">
                  *Required
              </mat-error>
            </ng-container>
          </div>

        </div>
      </form>
    </div>

        <!-- SPACER -->
        <div fxLayout="row" fxLayoutGap="100px" class="select-row" fxLayoutAlign="start end" ></div>
        <!-- SPACER -->
        <div fxLayout="row" fxLayoutGap="100px" class="select-row" fxLayoutAlign="start end" ></div>
        <!-- SPACER -->
        <div fxLayout="row" fxLayoutGap="100px" class="select-row" fxLayoutAlign="start end" ></div>

    <div  fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-evenly end">    
      <div mat-dialog-actions align="center" class="select-row">
        <button mat-button (click)="cancelAdminDialog()">Cancel</button>
        <button mat-flat-button [disabled]="!adminPatientForm.valid" color="accent"
        (click)="openAdminConfirmDialog(1)">SAVE AND CONTINUE</button>
        <button mat-flat-button [disabled]="!adminPatientForm.valid" color="accent"
        (click)="openAdminConfirmDialog(2)">SAVE AND EXIT</button>
      </div>
    </div>

  </ng-template>

  <ng-template #adminConfirmDialog>
    <div mat-dialog-content class="mat-typography">
      <h3 *ngIf="isAddingPatientAndExit">Are you sure you want to save this patient and exit?</h3>
      <h3 *ngIf="isAddingPatientAndContinue">Are you sure you want to save this patient and continue?</h3>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="cancelAdminDialog()">Cancel</button>
      <button mat-flat-button color="accent" mat-dialog-close (click)="submitPatientAddUpdate()" *ngIf="isAddingPatientAndContinue">
        Save And Continue</button>
      <button mat-flat-button color="accent" mat-dialog-close (click)="submitPatientAddUpdate()" *ngIf="isAddingPatientAndExit">
        Save And Exit</button>
    </div>
  </ng-template>


  <!---------------------- Patient Admin Dialog ------------------------------------->
<ng-template *ngIf="isUserAdmin && potentialPatient" #patientAdminDialog>
  <div mat-dialog-content class="mat-typography" id="patientAdmin-dialog">
    <form [formGroup]="patientAdminForm">
      <div fxLayout="row" class="detail-heading">PATIENT ADMIN</div>
      <br>

      <div fxLayout="row" fxLayoutGap="60px" class="form-row" fxLayoutAlign="start end" >
        <div fxLayout="column">
          <mat-form-field floatLabel="always">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
          <ng-container
            *ngIf="(patientAdminForm.get('firstName').touched || patientAdminForm.get('firstName').dirty) && (patientAdminForm.get('firstName').errors)">
            <mat-error *ngIf="patientAdminForm.get('firstName').errors.required">
                *Required
            </mat-error>
          </ng-container>
        </div>
        <div fxLayout="column">
          <mat-form-field floatLabel="always">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
          <ng-container
            *ngIf="(patientAdminForm.get('lastName').touched || patientAdminForm.get('lastName').dirty) && (patientAdminForm.get('lastName').errors)">
            <mat-error *ngIf="patientAdminForm.get('lastName').errors.required">
                *Required
            </mat-error>
          </ng-container>
        </div>
        <div fxLayout="column">
          <mat-form-field floatLabel="always">
            <mat-label>MRN</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
          <ng-container
            *ngIf="(patientAdminForm.get('lastName').touched || patientAdminForm.get('lastName').dirty) && (patientAdminForm.get('lastName').errors)">
            <mat-error *ngIf="patientAdminForm.get('lastName').errors.required">
                *Required
            </mat-error>
          </ng-container>
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="60px" class="form-row" fxLayoutAlign="start end" >
        <div fxLayout="column">
          <mat-form-field floatLabel="always">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
          <ng-container
            *ngIf="(patientAdminForm.get('firstName').touched || patientAdminForm.get('firstName').dirty) && (patientAdminForm.get('firstName').errors)">
            <mat-error *ngIf="patientAdminForm.get('firstName').errors.required">
                *Required
            </mat-error>
          </ng-container>
        </div>
        <div fxLayout="column">
          <mat-form-field floatLabel="always">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
          <ng-container
            *ngIf="(patientAdminForm.get('lastName').touched || patientAdminForm.get('lastName').dirty) && (patientAdminForm.get('lastName').errors)">
            <mat-error *ngIf="patientAdminForm.get('lastName').errors.required">
                *Required
            </mat-error>
          </ng-container>
        </div>
        <div fxLayout="column">
          <mat-form-field floatLabel="always">
            <mat-label>MRN</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
          <ng-container
            *ngIf="(patientAdminForm.get('lastName').touched || patientAdminForm.get('lastName').dirty) && (patientAdminForm.get('lastName').errors)">
            <mat-error *ngIf="patientAdminForm.get('lastName').errors.required">
                *Required
            </mat-error>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</ng-template>

