<div class="content-main">
  <div fxLayout="row" class="patients-header">
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>PCP</mat-label>
        <mat-select [(ngModel)]="pcP_StaffID"
          (selectionChange)="applySelectedFilter('pcP_StaffID', pcP_StaffID ? pcP_StaffID: '')">
          <mat-option *ngFor="let pcp of patients" [value]="pcp.pcP_StaffID">
            {{pcp.pcP_StaffID}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>Population Slices</mat-label>
        <mat-select [(ngModel)]="pcP_StaffID"
          (selectionChange)="applySelectedFilter('pcP_StaffID', pcP_StaffID ? pcP_StaffID: '')">
          <mat-option *ngFor="let pcp of patients" [value]="pcp.pcP_StaffID">
            {{pcp.pcP_StaffID}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>Conditions</mat-label>
        <mat-select [(ngModel)]="conditions"
          (selectionChange)="applySelectedFilter('conditions', conditions ? conditions: '')" multiple>
          <mat-option *ngFor="let condition of patients" [value]="condition.conditions.name">
            {{condition.conditions.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table mat-table matSort [dataSource]="dataSource" id="patients">

    <!-- DropDown Column -->
    <ng-container matColumnDef="arrow">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="material-icons rotate-icon">
          keyboard_arrow_right
        </i>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"
        [ngStyle]="{'color': (element.potentiallyActiveStatus ? '#f0673c' : '#4A4A4A') }">
        {{element.lastName | titlecase}}, {{element.firstName | titlecase}} </mat-cell>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Last ED Visit Column -->
    <ng-container matColumnDef="lastEDVisit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last ED Visit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastEDVisit | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Chronic Column -->
    <ng-container matColumnDef="chronic">
      <mat-header-cell *matHeaderCellDef> Chronic
        <mat-checkbox class="table-header-checkbox" [(ngModel)]="chronic"
          (change)="applySelectedFilter('chronic', chronic ? 'true': '')"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.chronic; else elseNo">
          Yes
        </ng-container>
        <ng-template #elseNo>
          No
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Watch List Column -->
    <ng-container matColumnDef="watchFlag">
      <mat-header-cell *matHeaderCellDef> Watch List
        <mat-checkbox class="table-header-checkbox" [(ngModel)]="watchFlag"
          (change)="applySelectedFilter('watchFlag', watchFlag ? 'true': '')"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.watchFlag; else elseNo">
          <i class="material-icons watchlist-icon on-watchlist">
            remove_red_eye
          </i>
        </ng-container>
        <ng-template #elseNo>
          <i class="material-icons watchlist-icon">
            remove_red_eye
          </i>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Conditions Column -->
    <ng-container matColumnDef="conditions">
      <mat-header-cell *matHeaderCellDef> Conditions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutGap="14px">
          <div *ngFor="let item of element.conditions" class="condition-chip" fxLayout="column" fxflex="33%">
            {{item.name}}
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <!-- Hidden Columns===============================================================-->
    <!-- PCP Column -->
    <ng-container matColumnDef="pcP_StaffID">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.pcP_StaffID}}
      </mat-cell>
    </ng-container>
    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl" (click)="getPatientDetails(row.patientId)"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 30]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #tpl let-element>
      <div class="mat-row" [@detailExpand] id="patient-details">
          <div fxLayout="row" class="detail-heading">DEMOGRAPHICS</div>
            <form *ngIf="patientFormDetails | async;" [formGroup]="form">
              <div fxLayout="row" fxLayoutGap="34px" class="form-row">
              <div fxLayout="column">
                <label>ACTIVE PATIENT</label>
                <mat-slide-toggle formControlName="activeStatus" [checked]="form.controls.activeStatus">
                </mat-slide-toggle>
              </div>
              <div fxLayout="column">
                <label for="patientMRNId">Epic MRN</label>
                <input id="patientMRNId" formControlName="patientMRNId" />
                <div *ngIf="form.controls.patientMRNId.errors?.required && form.controls.patientMRNId.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="gender">Gender</label>
                <input id="gender" formControlName="gender" />
                <div *ngIf="form.controls.gender.errors?.required && form.controls.gender.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="pcpLastName">PCP</label>
                <input id="pcpLastName" formControlName="pcpLastName" />
                <div *ngIf="form.controls.pcpLastName.errors?.required && form.controls.pcpLastName.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="insuranceName">Insurance</label>
                <input id="insuranceName" formControlName="insuranceName" />
                <div *ngIf="form.controls.insuranceName.errors?.required && form.controls.insuranceName.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="conditions">Conditions</label>
                <input id="conditions" formControlName="conditions" />
                <div *ngIf="form.controls.conditions.errors?.required && form.controls.conditions.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="pmcaScore">PCMA</label>
                <input id="pmcaScore" formControlName="pmcaScore" />
                <div *ngIf="form.controls.pmcaScore.errors?.required && form.controls.pmcaScore.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="providerPMCAScore">Provider PCMA</label>
                <input id="providerPMCAScore" formControlName="providerPMCAScore" />
                <div *ngIf="form.controls.providerPMCAScore.errors?.required && form.controls.providerPMCAScore.touched" class="error">
                  *Required
                </div>
              </div>
            </div>
            <div fxLayout="row" fxLayoutGap="34px">
              <div fxLayout="column">
                <label for="phone1">Phone</label>
                <input id="phone1" formControlName="phone1" />
                <div *ngIf="form.controls.phone1.errors?.required && form.controls.phone1.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex="288px">
                <label for="addressLine1">Address</label>
                <input id="addressLine1" formControlName="addressLine1" />
                <div *ngIf="form.controls.addressLine1.errors?.required && form.controls.addressLine1.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="city">City</label>
                <input id="city" formControlName="city" />
                <div *ngIf="form.controls.city.errors?.required && form.controls.city.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="state">State</label>
                <input id="state" formControlName="state" />
                <div *ngIf="form.controls.state.errors?.required && form.controls.state.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxFlex>
                <label for="zip">Zip</label>
                <input id="zip" formControlName="zip" />
                <div *ngIf="form.controls.zip.errors?.required && form.controls.zip.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column" fxLayoutAlign="end" fxFlex="96px">
                <button mat-flat-button color="accent">Save</button>
              </div>
            </div>
            </form>
            <div fxLayout="row" class="border-row-top">
              <div fxLayout="column">
                <div fxLayout="row" class="detail-heading">METRICS</div>
                <div fxLayout="row" class="metric-data-box">
                  <div fxLayout="column" class="metric-data" fxLayoutAlign="top center" *ngIf="patientDetails">
                    <span class="metric-number">1</span>
                    <span class="metric-title">PRACTICE VISITS</span>
                  </div>
                  <div fxLayout="column" class="metric-data" fxLayoutAlign="top center" *ngIf="patientDetails">
                    <span class="metric-number">19</span>
                    <span class="metric-title">CCHMC ENCOUNTERS</span>
                  </div>
                  <div fxLayout="column" class="metric-data" fxLayoutAlign="top center" *ngIf="patientDetails">
                    <span class="metric-number">1</span>
                    <span class="metric-title">HEALTHBRIDGE ENCOUNTERS</span>
                  </div>
                  <div fxLayout="column" class="metric-data" fxLayoutAlign="top center" *ngIf="patientDetails">
                    <span class="metric-number">14</span>
                    <span class="metric-title">UNIQUE DXS</span>
                  </div>
                  <div fxLayout="column" class="metric-data" fxLayoutAlign="top center" *ngIf="patientDetails">
                    <span class="metric-number">8</span>
                    <span class="metric-title">UNIQUE CPT CODES</span>
                  </div>
                </div>
              </div>
              <mat-divider [vertical]="true"></mat-divider>
              <div fxLayout="column" class="visit-details-box">
                <div fxLayout="row" class="detail-heading">VISIT DETAILS</div>
                <div fxLayout="row" fxLayoutGap="">
                  <div fxLayout="column" fxFlex=50%>
                    <span class="detail-title">LAST PRACTICE VISIT</span>
                    <span class="detail-text">12/17/2018</span>
                  </div>
                  <div fxLayout="column">
                    <span class="detail-title">Diagnosis</span>
                    <span class="detail-text">Hypermetropia
                      (Bilateral)</span>
                  </div>
                </div>
                <div fxLayout="row" class="detail-row">
                  <div fxLayout="column" fxFlex=50%>
                    <span class="detail-title">LAST CCHMC ADMIT</span>
                  <span class="detail-text">12/17/2018</span>
                  </div>
                </div>
                <div fxLayout="row" class="detail-row">
                    <div fxLayout="column" fxFlex=50%>
                      <span class="detail-title">LAST OR NEXT CCHMC APPT</span>
                    <span class="detail-text">12/17/2018</span>
                    </div>
                  <div fxLayout="column">
                    <span class="detail-title">Last healthbridge Admit </span>
                    <span class="detail-text">12/17/2018, 9:30 AM
                      Hospital Name</span>
                  </div>
                  </div>
              </div>
            </div>
      </div>
    </ng-template>

