<div class="content-main">
  <div fxLayout="row" class="patients-header">
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>PCP</mat-label>
        <mat-select [(ngModel)]="pcP_StaffID"
          (selectionChange)="applySelectedFilter('pcP_StaffID', pcP_StaffID ? pcP_StaffID: '')">
          <mat-option *ngFor="let pcp of patients" [value]="pcp.pcP_StaffID">
            {{pcp.pcP_StaffID}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>Population Slices</mat-label>
        <mat-select [(ngModel)]="pcP_StaffID"
          (selectionChange)="applySelectedFilter('pcP_StaffID', pcP_StaffID ? pcP_StaffID: '')">
          <mat-option *ngFor="let pcp of patients" [value]="pcp.pcP_StaffID">
            {{pcp.pcP_StaffID}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="header-filter">
      <mat-form-field>
        <mat-label>Conditions</mat-label>
        <mat-select [(ngModel)]="conditions"
          (selectionChange)="applySelectedFilter('conditions', conditions ? conditions: '')" multiple>
          <mat-option *ngFor="let condition of patients" [value]="condition.conditions.name">
            {{condition.conditions.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <table mat-table matSort [dataSource]="dataSource" id="patients">

    <!-- DropDown Column -->
    <ng-container matColumnDef="arrow">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <i class="material-icons rotate-icon">
          keyboard_arrow_right
        </i>
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"
        [ngStyle]="{'color': (element.potentiallyActiveStatus ? '#f0673c' : '#4A4A4A') }">
        {{element.lastName | titlecase}}, {{element.firstName | titlecase}} </mat-cell>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dob | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Last ED Visit Column -->
    <ng-container matColumnDef="lastEDVisit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Last ED Visit </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastEDVisit | date:'MM/dd/yyyy'}} </mat-cell>
    </ng-container>

    <!-- Chronic Column -->
    <ng-container matColumnDef="chronic">
      <mat-header-cell *matHeaderCellDef> Chronic
        <mat-checkbox class="table-header-checkbox" [(ngModel)]="chronic"
          (change)="applySelectedFilter('chronic', chronic ? 'true': '')"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.chronic; else elseNo">
          Yes
        </ng-container>
        <ng-template #elseNo>
          No
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Watch List Column -->
    <ng-container matColumnDef="watchFlag">
      <mat-header-cell *matHeaderCellDef> Watch List
        <mat-checkbox class="table-header-checkbox" [(ngModel)]="watchFlag"
          (change)="applySelectedFilter('watchFlag', watchFlag ? 'true': '')"></mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.watchFlag; else elseNo">
          <i class="material-icons watchlist-icon on-watchlist">
            remove_red_eye
          </i>
        </ng-container>
        <ng-template #elseNo>
          <i class="material-icons watchlist-icon">
            remove_red_eye
          </i>
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Conditions Column -->
    <ng-container matColumnDef="conditions">
      <mat-header-cell *matHeaderCellDef> Conditions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutGap="14px">
          <div *ngFor="let item of element.conditions" class="condition-chip" fxLayout="column" fxflex="33%">
            {{item.name}}
          </div>
        </div>
      </mat-cell>
    </ng-container>
    <!-- Hidden Columns===============================================================-->
    <!-- PCP Column -->
    <ng-container matColumnDef="pcP_StaffID">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.pcP_StaffID}}
      </mat-cell>
    </ng-container>
    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row" [cdkDetailRow]="row"
      [cdkDetailRowTpl]="tpl" (click)="getPatientDetails(row.patientId)"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[20, 30]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #tpl let-element>
      <div class="mat-row" [@detailExpand] id="patient-details">
          <div fxLayout="row" class="detail-heading">DEMOGRAPHICS</div>
          <div fxLayout="row" *ngIf="patientDetails">
            <form class="example-form" *ngIf="patientDetails | async;" [formGroup]="form" fxLayout="row">
              <div fxLayout="row" fxLayoutGap="34px">
              <div fxLayout="column">
                <label>ACTIVE PATIENT</label>
                <mat-slide-toggle formControlName="activeStatus" [checked]="form.controls.activeStatus">
                </mat-slide-toggle>
              </div>
              <div fxLayout="column">
                <label for="patientMRNId">Epic MRN</label>
                <input id="patientMRNId" formControlName="patientMRNId" />
                <div *ngIf="form.controls.patientMRNId.errors?.required && form.controls.patientMRNId.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="gender">Gender</label>
                <input id="gender" formControlName="gender" />
                <div *ngIf="form.controls.gender.errors?.required && form.controls.gender.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="pcpLastName">PCP</label>
                <input id="pcpLastName" formControlName="pcpLastName" />
                <div *ngIf="form.controls.pcpLastName.errors?.required && form.controls.pcpLastName.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="insuranceName">Insurance</label>
                <input id="insuranceName" formControlName="insuranceName" />
                <div *ngIf="form.controls.insuranceName.errors?.required && form.controls.insuranceName.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="conditions">Conditions</label>
                <input id="conditions" formControlName="conditions" />
                <div *ngIf="form.controls.conditions.errors?.required && form.controls.conditions.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="pmcaScore">PCMA</label>
                <input id="pmcaScore" formControlName="pmcaScore" />
                <div *ngIf="form.controls.pmcaScore.errors?.required && form.controls.pmcaScore.touched" class="error">
                  *Required
                </div>
              </div>
              <div fxLayout="column">
                <label for="providerPMCAScore">Provider PCMA</label>
                <input id="providerPMCAScore" formControlName="providerPMCAScore" />
                <div *ngIf="form.controls.providerPMCAScore.errors?.required && form.controls.providerPMCAScore.touched" class="error">
                  *Required
                </div>
              </div>
            </div>
            </form>
    
          </div>
    

      </div>
    </ng-template>

