@model PHO_WebApp.Models.QualityImprovement
@{
    ViewBag.Title = "Practice Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="dashboard-initiative dashboard-label">Initiatives </h2>
<br />

@Html.Partial("_InitiativeAccordion", Model.Initiatives)

<br />

<h2 class="dashboard-cohort dashboard-label">Cohorts </h2>
<br />

@Html.Partial("_CohortAccordion", Model.Cohorts)

<br />

<h2 class="dashboard-survey dashboard-label">Data Collection</h2>
<br />

@Html.Partial("_SurveyAccordion", Model.SurveySummaries)


<script type="text/javascript">
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });
    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });

</script>

