
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $phoweb-primary: mat-palette($mat-indigo);
// $phoweb-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $phoweb-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $phoweb-theme: mat-light-theme($phoweb-primary, $phoweb-accent, $phoweb-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($phoweb-theme);

/* You can add global styles to this file, and also import other style files */
@import 'assets/PHO-theme.scss';

html, body { height: 100%; }
body { 
    margin: 0;
    background-color: #FAFAFA;
}
html, body { height: 100%; }
body { margin: 0; }
/* Main Menu (Will add additional options in phase 2) */
.main-menu {
    background-color: white;
    height: 121px;
    box-shadow: 0 2px 4px 0 rgba(0,109,99,0.1);
    padding: 23px 93px 23px;
    .logo-col {
        margin-right: 166px;
    }
    .logo {
        height: 58px;
        width: 188px;
    }
    button {
        color: var(--primary-darker-color);
        font-size: 16px;
        line-height: 22px;
        font-weight: bold;
    }
    button:after {
        content: ""; 
        display: block; 
        margin: 0 auto; 
        width: 98%; 
        padding-top: 0px; 
        border-bottom: 1.5px solid var(--primary-darker-color);
    }
    button:hover {
        background-color: white;
    }
}

/* Home Submenu (Dashboard, Patients, Staff, Files, Wookbook */
.home-submenu {
    margin: 21px 107px 23px;
    .practice-title {
        color: var(--primary-color);
    }
}
