<div id="staffcomponent" class="content-main">
    <div fxLayout="row" class="staff-header">
        <div fxLayout="column" class="header-filter filter-btn">

            <button mat-button (click)="applySelectedFilter('position','Physician')">Physicians</button>

        </div>
        <div fxLayout="column" class="header-filter filter-btn">
            <button mat-button (click)="applySelectedFilter('position','Clinical Staff')">Clinical Staff</button>
        </div>
        <div fxLayout="column" class="header-filter filter-btn">
            <button mat-button (click)="applySelectedFilter('position','Support Staff')">Support Staff</button>
        </div>
        <div fxLayout="column" class="header-filter">
            <mat-form-field>
                <mat-label>Responsibilities</mat-label>
                <mat-select [formControl]="responsibilityFilter"
                    (selectionChange)="applySelectedFilter('responsibilities','')">
                    <mat-option>All</mat-option>
                    <mat-option *ngFor="let responsibility of responsibilities" [value]="responsibility.name">

                        {{responsibility.name}}

                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column" class="header-filter search-input" fxFlex fxLayoutAlign="center end">
            <mat-form-field>
                <input matInput [formControl]="staffNameFilter" (keyup)="applySelectedFilter('StaffName','')"
                    placeholder="search staff by name">
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div>
    </div>
    <mat-table #table [dataSource]="dataSourceStaff" matSort (matSortChange)="onSortData($event)"
        class="mat-elevation-z8" id="staff" [trackBy]="trackStaff" multiTemplateDataRows>

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- DropDown Column -->
        <ng-container matColumnDef="arrow">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <i class="material-icons rotate-icon">
                    keyboard_arrow_right
                </i>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header="StaffName"> name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} {{element.firstName}} </mat-cell>
        </ng-container>


        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
            <mat-cell *matCellDef="let element" matTooltip={{element.email}}>
                <!-- {{element.email}}  -->
                <a href="mailto:{{element.email}}">
                    <i class="material-icons icons-white-mail">
                        email
                    </i>
                </a>
            </mat-cell>
        </ng-container>

        <!-- phone Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> phone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

        <!-- positionId Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header="PositionName"> position </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position?.name}} </mat-cell>
        </ng-container>

        <!-- credentialId Column -->
        <ng-container matColumnDef="credentials">
            <mat-header-cell *matHeaderCellDef mat-sort-header="CredentialName"> credential </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.credentials?.name}} </mat-cell>
        </ng-container>

        <!-- isRegistry Column -->
        <ng-container matColumnDef="isRegistry">
            <mat-header-cell *matHeaderCellDef mat-sort-header="IsRegistry"> Registry </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.isRegistry; else RegistryNo">
                    Yes
                </ng-container>
                <ng-template #RegistryNo>
                    No
                </ng-template>

            </mat-cell>
        </ng-container>

        <!-- responsibilities Column -->
        <ng-container matColumnDef="responsibilities">
            <mat-header-cell *matHeaderCellDef> responsibilities </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div fxLayout="row wrap" fxLayoutGap="14px">
                    <div *ngFor="let responsibility of element.responsibilities?.split(',')" fxLayout="column"
                        fxflex="33%" class="responsibility-container">
                        <div *ngIf="responsibility" class="responsibility-chip"
                            [style.margin-bottom]="element.responsibilities?.split(',').length > 2 ? '5px' : '0px'"
                            [style.margin-top]="element.responsibilities?.split(',').length > 2 ? '5px' : '0px'">
                            {{ responsibility }}
                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>     
        
        <ng-container matColumnDef="button" >
            <mat-header-cell *matHeaderCellDef >
                <button mat-flat-button  color="accent" class="staffButtonAlign" *ngIf="isUserAdmin" (click)="openAddStaffDialog()">ADD STAFF</button>
            </mat-header-cell>          
            <mat-cell *matCellDef>       
              
            </mat-cell>         
        </ng-container>

        <!-- Hidden Columns===============================================================-->
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> firstName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> lastName </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail" #expansionRow>

            <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div id="staff-details" fxFlex>
                    <div fxLayout="row" class="detail-heading" fxLayoutAlign="flex-start center">
                        DEMOGRAPHICS
                    </div>
                    <form [formGroup]="StaffDetailsForm">
                        <div class="staff-element-detail">
                            <div fxLayout="row" fxLayoutGap="34px">
                                <div fxLayout="column" fxFlex>
                                    <mat-form-field>
                                        <mat-label>First Name </mat-label>
                                        <input matInput formControlName="firstName" required>
                                    </mat-form-field>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('firstName').touched || StaffDetailsForm.get('firstName').dirty) && (StaffDetailsForm.get('firstName').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('firstName').errors.required">
                                            First Name is required
                                        </mat-error>
                                    </ng-container>
                                </div>
                                <div fxLayout="column" fxFlex>
                                    <mat-form-field>
                                        <mat-label>Last Name </mat-label>
                                        <input matInput formControlName="lastName" required>
                                    </mat-form-field>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('lastName').touched || StaffDetailsForm.get('lastName').dirty) && (StaffDetailsForm.get('lastName').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('lastName').errors.required">
                                            Last Name is required
                                        </mat-error>
                                    </ng-container>
                                </div>

                                <div fxLayout="column" fxFlex>
                                    <mat-form-field>
                                        <mat-label>LOCATIONS</mat-label>
                                        <!-- <mat-select formControlName="locations" multiple required
                                            [compareWith]="compareByLocationName"> -->
                                            <mat-select formControlName="locations" multiple required>
                                            <mat-option *ngFor="let item of locationsList" [value]="item">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('locations').touched || StaffDetailsForm.get('locations').dirty) && (StaffDetailsForm.get('locations').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('locations').errors.required">
                                            Please select the Location
                                        </mat-error>
                                    </ng-container>
                                </div>
                            </div>

                            <div fxLayout="row" class="form-row" fxLayoutGap="34px">
                                <div fxLayout="column" fxFlex class="input-w-icon">
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" name="email" required>
                                        <mat-icon matPrefix>
                                            email
                                        </mat-icon>
                                        <ng-container
                                            *ngIf="(StaffDetailsForm.get('email').touched || StaffDetailsForm.get('email').dirty) && StaffDetailsForm.get('email').errors">
                                            <mat-error *ngIf="StaffDetailsForm.get('email').errors.required">
                                                Email address is required
                                            </mat-error>
                                            <mat-error *ngIf="StaffDetailsForm.get('email').errors.email">
                                                Enter a valid email address
                                            </mat-error>

                                        </ng-container>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxFlex class="input-w-icon">
                                    <mat-form-field>
                                        <mat-label>Phone </mat-label>
                                        <input matInput formControlName="phone" required>
                                        <mat-icon matPrefix>phone</mat-icon>
                                    </mat-form-field>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('phone').touched || StaffDetailsForm.get('phone').dirty) && (StaffDetailsForm.get('phone').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('phone').errors.required">
                                            phone number is required
                                        </mat-error>
                                    </ng-container>
                                </div>

                                <div fxLayout="column" fxFlex>
                                    <mat-form-field>
                                        <mat-label>NPI</mat-label>
                                        <input matInput formControlName="npi">
                                        <ng-container
                                            *ngIf="(StaffDetailsForm.get('npi').touched || StaffDetailsForm.get('npi').dirty) && (StaffDetailsForm.get('npi').errors)">
                                            <mat-error *ngIf="checkError('npi', 'pattern')"> NPI Must be 10 Digits and
                                                Cannot Start with 0.</mat-error>
                                        </ng-container>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutGap="34px">
                                <div fxLayout="column" fxFlex class="input-w-icon date-picker-input">
                                    <mat-form-field class="multi-select-override" floatLabel="always">
                                        <mat-label>START DATE</mat-label>

                                        <input matInput placeholder="MM/DD/YYYY" formControlName="startDate"
                                            [matDatepicker]="picker" required>
                                        <mat-datepicker-toggle matPrefix [for]="picker">
                                            <mat-icon matDatepickerToggleIcon>
                                                calendar_today
                                            </mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <ng-container
                                            *ngIf="(StaffDetailsForm.get('startDate').touched || StaffDetailsForm.get('startDate').dirty) && StaffDetailsForm.get('startDate').errors">
                                            <mat-error *ngIf="StaffDetailsForm.get('startDate').errors.daterequired">
                                                Start Date is required in MM/DD/YYYY format
                                            </mat-error>
                                        </ng-container>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="column" fxFlex>
                                    <mat-form-field class="multi-select-override">
                                        <mat-label>ROLE</mat-label>
                                        <mat-select formControlName="positionId" required>
                                            <mat-option *ngFor="let position of positions" [value]="position.id">
                                                {{position.name}}
                                            </mat-option>
                                        </mat-select>
                                        <ng-container
                                            *ngIf="(StaffDetailsForm.get('positionId').touched || StaffDetailsForm.get('positionId').dirty) && (StaffDetailsForm.get('positionId').errors)">
                                            <mat-error *ngIf="StaffDetailsForm.get('positionId').errors.required">
                                                Role is required
                                            </mat-error>
                                        </ng-container>

                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxFlex>
                                    <mat-form-field class="multi-select-override">
                                        <mat-label>CREDENTIALS</mat-label>
                                        <mat-select formControlName="credentialId">
                                            <mat-option *ngFor="let credential of credentials" [value]="credential.id">
                                                {{credential.name}}
                                            </mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>



                            </div>
                            <div fxLayout="row" class="check-row" fxLayoutGap="34px">
                                <div fxLayout="column">
                                    <div fxLayout="row" class="check-subrow"><label>Responsibilities</label></div>
                                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="34px"
                                        class="check-subrow">
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isQPLLeader">QI Lead Doc</mat-checkbox>
                                        </div>
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isPracticeManager">Practice Manager

                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="34px"
                                        class="check-subrow">
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isQITeam">QI Team</mat-checkbox>
                                        </div>
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isInterventionContact">Intervention Contact
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="column">
                                    <div fxLayout="row" class="check-subrow"><label>Board Membership</label></div>
                                    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="34px"
                                        class="check-subrow">
                                        <mat-checkbox formControlName="isRVPIBoard">RVPI Board</mat-checkbox>
                                        <mat-checkbox formControlName="isOVPCABoard">OVPCA Board</mat-checkbox>
                                        <mat-checkbox formControlName="isPHOBoard">PHO Board</mat-checkbox>
                                    </div>
                                </div>

                            </div>
                            <div fxLayout="row" fxLayoutGap="34px">
                                <div fxLayout="column" fxLayoutAlign="start end">
                                    <button *ngIf="isUserAdmin" mat-flat-button color="primary"
                                        (click)="openAdminDialog()">USER ADMINISTRATION</button>
                                </div>
                                <div fxLayout="column">
                                    <button *ngIf="isUserAdmin" mat-flat-button color="primary"
                                        (click)="openStaffAdminDialog()">STAFF
                                        ADMINISTRATION</button>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="end end" fxFlex>
                                    <button mat-flat-button color="accent" (click)="updateStaff()"
                                        [disabled]="!StaffDetailsForm.valid">SAVE</button>
                                </div>
                                <ng-template #adminDialog>
                                    <div mat-dialog-content class="mat-typography" id="admin-dialog">
                                        <form [formGroup]="adminUserForm" (ngSubmit)="confirmStaffUserUpdate()">
                                            <div fxLayout="row" class="detail-heading">ADD / UPDATE PORTAL
                                                INFO</div>
                                            <div fxLayout="row" class="validation-text">
                                                <p>{{adminVerbiage | slice:0:141}}<br>{{adminVerbiage | slice:141:adminVerbiage.length}}
                                                </p>
                                            </div>
                                            <div fxLayout="row">
                                                <div fxLayout="column" fxFlex="25%">
                                                    <label class="toggle-label">REMOVE REGISTRY ACCESS</label>
                                                    <mat-slide-toggle ngDefaultControl class="admin-toggle"
                                                        [checked]="isDeleted" (change)="removeUserRegAccess($event)">
                                                    </mat-slide-toggle>
                                                </div>
                                                <div fxLayout="column">
                                                    <label class="toggle-label">ACCOUNT LOCKED</label>
                                                    <mat-slide-toggle ngDefaultControl class="admin-toggle"
                                                        [checked]="isLockedOut" (change)="lockoutUser($event)">
                                                    </mat-slide-toggle>
                                                </div>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">

                                                <div fxLayout="column" class="input-w-icon">
                                                    <mat-form-field floatLabel="always">
                                                        <mat-label>USER NAME</mat-label>
                                                        <input matInput formControlName="userName" name="userName">
                                                        <mat-icon matPrefix>
                                                            person
                                                        </mat-icon>
                                                        <mat-error>You must include a username</mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="column" class="input-w-icon">
                                                    <mat-form-field floatLabel="always">
                                                        <mat-label>PASSWORD</mat-label>
                                                        <input matInput type="password" formControlName="password"
                                                            name="password" (change)="passwordChanged()"
                                                            [errorStateMatcher]="matcher">
                                                        <mat-icon matPrefix>
                                                            lock
                                                        </mat-icon>
                                                        <mat-error>Passwords Must Match</mat-error>

                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="column" class="input-w-icon">
                                                    <mat-form-field floatLabel="always">
                                                        <mat-label>CONFIRM PW</mat-label>
                                                        <input matInput type="password"
                                                            formControlName="confirmPassword" name="confirmPassword"
                                                            (change)="passwordChanged()" [errorStateMatcher]="matcher">
                                                        <mat-icon matPrefix>
                                                            lock
                                                        </mat-icon>
                                                        <mat-error>Passwords Must Match</mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div fxLayout="row" fxLayoutGap="12px"><label class="toggle-label">ACCESS
                                                    TYPE:</label></div>
                                            <div fxLayout="row" fxLayoutGap="10px" *ngIf="userRoleList">
                                                <div fxLayout="column" fxFlex fxFill>
                                                    <mat-form-field class="multi-select-override">
                                                        <mat-select matNativeControl formControlName="roles"
                                                            [compareWith]="compareFn">
                                                            <mat-option *ngFor="let item of userRoleList"
                                                                [value]="item">{{item.name}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </form>
                                        <ng-template #updateUserDialog>
                                            <div mat-dialog-content class="mat-typography">
                                                <h3>Are you sure you want to save changes to this user?</h3>
                                            </div>
                                            <div mat-dialog-actions align="end">
                                                <button mat-button mat-dialog-close>Cancel</button>
                                                <button mat-flat-button color="accent" mat-dialog-close
                                                    (click)="submitForm()">Save and Update User</button>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div mat-dialog-actions align="end">
                                        <button mat-button (click)="cancelAdminDialog()">Cancel</button>
                                        <button mat-flat-button (click)="confirmStaffUserUpdate()"
                                            color="accent">SAVE</button>
                                    </div>
                                </ng-template>

                                <ng-template #StaffadminDialog>
                                    <div mat-dialog-content class="mat-typography" id="Staff-admin-dialog">
                                        <form [formGroup]="StaffAdminForm" (ngSubmit)="confirmStaffAdminUpdate()">
                                            <div fxLayout="row" class="detail-heading">STAFF ADMINISTRATION</div>

                                            <div fxLayout="row" fxLayoutGap="12px">
                                                <div fxLayout="column" fxLayoutAlign="center center">
                                                    <mat-form-field>
                                                        <mat-label>Staff Name </mat-label>
                                                        <input matInput [value]="StaffName" readonly>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="column" fxLayoutAlign="center end"
                                                    class="input-date-icon">
                                                    <mat-form-field floatLabel="always">
                                                        <mat-label>END DATE</mat-label>

                                                        <input matInput placeholder="MM/DD/YYYY"
                                                            formControlName="endDate" [matDatepicker]="picker" required>
                                                        <mat-datepicker-toggle matPrefix [for]="picker">
                                                            <mat-icon matDatepickerToggleIcon>
                                                                calendar_today
                                                            </mat-icon>
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                        <ng-container
                                                            *ngIf="(StaffAdminForm.get('endDate').touched || StaffAdminForm.get('endDate').dirty) && StaffAdminForm.get('endDate').errors">
                                                            <mat-error
                                                                *ngIf="StaffAdminForm.get('endDate').errors.daterequired">
                                                                End Date is required in MM/DD/YYYY format
                                                            </mat-error>
                                                        </ng-container>
                                                    </mat-form-field>
                                                </div>
                                                <div fxLayout="column" class="validation-text"
                                                    fxLayoutAlign="center end">

                                                    <p><b>{{StaffAdminVerbiage | slice:0:9 }}</b>{{StaffAdminVerbiage | slice:9:58}}<br>{{StaffAdminVerbiage | slice:59:StaffAdminVerbiage.length}}
                                                    </p>

                                                </div>
                                            </div>

                                        </form>
                                        <ng-template #updateStaffDialog>
                                            <div mat-dialog-content class="mat-typography">
                                                <h3>Are you sure you want to remove {{StaffName}}?</h3>
                                            </div>
                                            <div mat-dialog-actions align="end">
                                                <button mat-button mat-dialog-close>Cancel</button>
                                                <button mat-flat-button color="accent" mat-dialog-close
                                                    (click)="RemoveStaffDetails()">REMOVE</button>
                                            </div>
                                        </ng-template>
                                    </div>
                                    <div mat-dialog-actions align="end">
                                        <button mat-button (click)="cancelStaffAdminDialog()">Cancel</button>
                                        <button mat-flat-button (click)="confirmStaffAdminUpdate()" color="accent"
                                            [disabled]="!StaffAdminForm.valid">REMOVE STAFF</button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </form>

                </div>
            </mat-cell>

        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;" class="staff-element-row"
            [class.staff-expanded-row]="expandedElement === element" (click)="getStaffDetails(element.id)"
            (click)="expandedElement=expandedElement===element ? null : element">
        </mat-row>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="staff-detail-row"></tr>

    </mat-table> 
    
    <!--Dialogs ===========================-->
 <ng-template #addStaffDialog>
    <div mat-dialog-content class="mat-typography" id="addstaff-dialog">
      <form [formGroup]="addStaffForm" class="default-input-override">
        <div fxLayout="row" class="detail-heading" (click)="openAddStaffDialog()">ADD STAFF MEMBER</div>
        <br>           
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end" class="input-w-icon">
            <div fxLayout="column" class="input-w-icon">
                <mat-form-field floatLabel="always" class="fill-form-field">
                    <mat-label>FIRST NAME</mat-label>
                    <input matInput formControlName="firstName" name="firstName" required> 
                    <mat-icon matPrefix>
                        person                     
                    </mat-icon>           
                    <ng-container
                      *ngIf="(addStaffForm.get('firstName').touched || addStaffForm.get('firstName').dirty) && (addStaffForm.get('firstName').errors)">
                      <mat-error *ngIf="addStaffForm.get('firstName').errors.required">
                        First name is required
                      </mat-error>
                    </ng-container>        
                  </mat-form-field>
            </div>
            <div fxLayout="column" class="input-w-icon">
                <mat-form-field floatLabel="always" class="fill-form-field">
                    <mat-label>LAST NAME</mat-label>
                    <input matInput formControlName="lastName" name="lastName" required>    
                    <mat-icon matPrefix>  
                        person                   
                    </mat-icon>        
                    <ng-container
                      *ngIf="(addStaffForm.get('lastName').touched ||  addStaffForm.get('lastName').dirty) && (addStaffForm.get('lastName').errors)">
                      <mat-error *ngIf="addStaffForm.get('lastName').errors.required">
                        Last name is required
                      </mat-error>
                    </ng-container>        
                  </mat-form-field>
            </div>         
        </div>       
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end" class="input-w-icon">
            <div fxLayout="column" class="input-w-icon">
                <mat-form-field floatLabel="always" class="fill-form-field">
                    <mat-label>START DATE</mat-label>
                    <input matInput placeholder="MM/DD/YYYY" formControlName="startDate" name="startDate" [matDatepicker]="picker" required>
                  
                <mat-datepicker-toggle matPrefix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>
                        calendar_today
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> 
                    <ng-container
                      *ngIf="(addStaffForm.get('startDate').touched ||  addStaffForm.get('startDate').dirty) && (addStaffForm.get('startDate').errors)">
                      <mat-error *ngIf="addStaffForm.get('startDate').errors.required">
                        Start date is required. 
                      </mat-error>
                    </ng-container>
                  </mat-form-field>
            </div>
            <div fxLayout="column" fxFlex class="input-w-icon">
                <mat-form-field floatLabel="always" class="fill-form-field">
                    <mat-label>EMAIL</mat-label>
                    <input matInput formControlName="email" name="email" required>
                    <mat-icon matPrefix>   
                        email                 
                    </mat-icon>
                    <ng-container
                      *ngIf="(addStaffForm.get('email').touched ||  addStaffForm.get('email').dirty) && (addStaffForm.get('email').errors)">
                      <mat-error *ngIf="addStaffForm.get('email').errors.required">
                        Email is required
                      </mat-error>
                    </ng-container>
                  </mat-form-field>
            </div>            
        </div>       
        <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
          <div fxLayout="column" class="input-w-icon">
            <mat-form-field floatLabel="always">
              <mat-label>PHONE</mat-label>
              <input matInput formControlName="phone" name="phone" required>
              <mat-icon matPrefix> 
                  phone             
              </mat-icon>
            </mat-form-field>
          </div>
          <div fxLayout="column" class="input-w-icon multiselect-with-icon">
            <mat-form-field floatLabel="always" class="select-style-override">
                <mat-label>ROLE</mat-label>
                <mat-select matNativeControl formControlName="positionId" class="insurance" required>
                  <mat-option *ngFor="let position  of positions" [value]="position.id">
                    {{position.name}}
                  </mat-option>
                </mat-select>
                <mat-icon matPrefix>               
                </mat-icon>
                <ng-container
                  *ngIf="(addStaffForm.get('positionId').touched ||  addStaffForm.get('positionId').dirty) && (addStaffForm.get('positionId').errors)">
                  <mat-error *ngIf="addStaffForm.get('positionId').errors.required">
                    Please assign a practice location.
                  </mat-error>
                </ng-container>
              </mat-form-field>
          </div>
          <div fxLayout="column" class="input-w-icon multiselect-with-icon">
            <mat-form-field floatLabel="always" class="select-style-override">
              <mat-label>LOCATIONS</mat-label>
              <mat-select matNativeControl formControlName="locationId" class="insurance" required>
                <mat-option *ngFor="let location of locationsList" [value]="location.id">
                  {{location.name}}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>               
              </mat-icon>
              <ng-container
                *ngIf="(addStaffForm.get('locationId').touched ||  addStaffForm.get('locationId').dirty) && (addStaffForm.get('locationId').errors)">
                <mat-error *ngIf="addStaffForm.get('locationId').errors.required">
                  Please assign a practice location.
                </mat-error>
              </ng-container>
            </mat-form-field>
          </div>

        </div>        
      </form>
    </div>
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start end">
        <div mat-dialog-actions align="end" class="select-row">
            <button mat-button (click)="cancelAddStaffDialog()">Cancel</button>                    
            <!-- <button mat-flat-button [disabled]="!addStaffForm.valid"  color="accent" mat-dialog-close (click)="openAddStaffConfirmDialog(1)">SAVE AND CONTINUE</button> -->
            <button mat-flat-button [disabled]="!addStaffForm.valid" color="accent" mat-dialog-close (click)="openAddStaffConfirmDialog(2)">SAVE AND EXIT</button>      
        </div>
    </div>    
  </ng-template>

  <ng-template #addStaffConfirmDialog>
    <div mat-dialog-content class="mat-typography">     
      <!-- <h3 *ngIf="isSaveAndContinue">Are you sure you want to add this staff and continue to update this staff's information?</h3>      -->
      <h3 *ngIf="isSaveAndExit">Are you sure you want to add this staff to your practice?</h3>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close (click)="cancelConfirmDialog()">Cancel</button>   
      <!-- <button mat-flat-button color="accent" mat-dialog-close (click)="saveAddStaffDialog()" *ngIf="isSaveAndContinue">
        Save And Continue</button> -->
      <button mat-flat-button color="accent" mat-dialog-close (click)="saveAddStaffDialog()" *ngIf="isSaveAndExit">
        Save And Exit</button>  
    </div> 
  </ng-template> 
      
</div>




