<div class="content-main">
    <div fxLayout="row" class="staff-header">
        <div fxLayout="column" class="header-filter">

            <button mat-button (click)="applySelectedFilter('position','Physician')">Physicians</button>

        </div>
        <div fxLayout="column" class="header-filter">
            <button mat-button (click)="applySelectedFilter('position','Medical Assistant')">Clinical Staff</button>
        </div>
        <div fxLayout="column" class="header-filter">
            <button mat-button (click)="applySelectedFilter('position','Support Staff')">Support Staff</button>
        </div>
        <div fxLayout="column" class="header-filter">
            <mat-form-field>
                <mat-label>Responsibilities</mat-label>
                <mat-select [formControl]="responsibilityFilter"
                    (selectionChange)="applySelectedFilter('responsibilities','')">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let responsibility of responsibilities" [value]="responsibility.name">

                        {{responsibility.name}}

                    </mat-option>

                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column" class="header-filter">
            <mat-form-field appearance="fill">
                <input matInput [formControl]="staffNameFilter" (keyup)="applySelectedFilter('StaffName','')"
                    placeholder="search staff by name">
            </mat-form-field>
        </div>
    </div>
    <div>
    </div>
    <table #table mat-table [dataSource]="dataSourceStaff" matSort (matSortChange)="onSortData($event)"
        class="mat-elevation-z8" id=staff multiTemplateDataRows>

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- DropDown Column -->
        <ng-container matColumnDef="arrow">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <i class="material-icons rotate-icon">
                    keyboard_arrow_right
                </i>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="StaffName"> name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} {{element.firstName}} </td>
        </ng-container>


        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> email </th>
            <td mat-cell *matCellDef="let element" matTooltip={{element.email}}>
                <!-- {{element.email}}  -->
                <a href="mailto:{{element.email}}">
                    <i class="material-icons icons-white-mail">
                        email
                    </i>
                </a>


            </td>
        </ng-container>

        <!-- phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- positionId Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="PositionName"> position </th>
            <td mat-cell *matCellDef="let element"> {{element.position.name}} </td>
        </ng-container>

        <!-- credentialId Column -->
        <ng-container matColumnDef="credentials">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="CredentialName"> credential </th>
            <td mat-cell *matCellDef="let element"> {{element.credentials.name}} </td>
        </ng-container>

        <!-- isRegistry Column -->
        <ng-container matColumnDef="isRegistry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="IsRegistry"> isRegistry </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.isRegistry; else RegistryNo">
                    Yes
                </ng-container>
                <ng-template #RegistryNo>
                    No
                </ng-template>

            </td>
        </ng-container>



        <!-- responsibilities Column -->
        <ng-container matColumnDef="responsibilities">
            <th mat-header-cell *matHeaderCellDef> responsibilities </th>
            <td mat-cell *matCellDef="let element">
                <div fxLayout="row" fxLayoutGap="14px">
                    <div *ngFor="let responsibility of element.responsibilities?.split(',')" fxLayout="column"
                        fxflex="33%">
                        <div *ngIf="responsibility" class="responsibility-chip">
                            {{ responsibility }}
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Hidden Columns===============================================================-->
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> firstName </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> lastName </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail" #expansionRow>

            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <form [formGroup]="StaffDetailsForm">
                    <div class="staff-element-detail" fxLayout="row"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div fxLayout="column" fxFlex="50%">
                            <div fxLayout="row" class="detail-heading" fxLayoutAlign="flex-start center">
                                DEMOGRAPHICS
                            </div>
                            <div fxLayout="row" class="form-row" fxLayoutGap="34px">
                                <mat-form-field>
                                    <mat-label>Email</mat-label>
                                    <input matInput id="email" formControlName="email" name="email">
                                    <mat-icon matPrefix><i class="material-icons icons-white-mail-input">
                                            email
                                        </i></mat-icon>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('email').touched || StaffDetailsForm.get('email').dirty) && StaffDetailsForm.get('email').errors">
                                        <mat-error *ngIf="StaffDetailsForm.get('email').errors.required">
                                            Email address is required
                                        </mat-error>
                                        <mat-error *ngIf="StaffDetailsForm.get('email').errors.email">
                                            Enter a valid email address
                                        </mat-error>

                                    </ng-container>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>NPI</mat-label>
                                    <input matInput formControlName="npi">
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('npi').touched || StaffDetailsForm.get('npi').dirty) && (StaffDetailsForm.get('npi').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('npi').errors.required">
                                            NPI is required
                                        </mat-error>
                                    </ng-container>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Phone </mat-label>
                                    <input matInput formControlName="phone">
                                    <mat-icon matPrefix><i class="material-icons icons-white-mail-input">
                                            phone
                                        </i></mat-icon>
                                </mat-form-field>
                                <ng-container
                                    *ngIf="(StaffDetailsForm.get('phone').touched || StaffDetailsForm.get('phone').dirty) && (StaffDetailsForm.get('phone').errors)">
                                    <mat-error *ngIf="StaffDetailsForm.get('phone').errors.required">
                                        phone number is required
                                    </mat-error>
                                </ng-container>
                            </div>
                            <div fxLayout="row" fxLayoutGap="34px">

                                <mat-form-field class="staff-full-width">
                                    <mat-label>START DATE</mat-label>
                                    <input matInput placeholder="MM/DD/YYYY" formControlName="startDate"
                                        [matDatepicker]="picker">
                                    <mat-datepicker-toggle matPrefix [for]="picker">
                                        <mat-icon matDatepickerToggleIcon class="icons-white-mail-input mat-icon-staff">
                                            calendar_today
                                        </mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                    <mat-error *ngIf="StaffDetailsForm.get('startDate').hasError('required')">
                                        startDate is required
                                    </mat-error>

                                </mat-form-field>


                                <mat-form-field appearance="fill">
                                    <mat-label>CREDENTIALS</mat-label>
                                    <mat-select formControlName="credentialId">
                                        <mat-option *ngFor="let credential of credentials" [value]="credential.id">
                                            {{credential.name}}
                                        </mat-option>

                                    </mat-select>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('credentialId').touched || StaffDetailsForm.get('credentialId').dirty) && (StaffDetailsForm.get('credentialId').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('credentialId').errors.required">
                                            credentials are required
                                        </mat-error>
                                    </ng-container>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>ROLE</mat-label>
                                    <mat-select formControlName="positionId">
                                        <mat-option *ngFor="let position of positions" [value]="position.id">
                                            {{position.name}}
                                        </mat-option>
                                    </mat-select>
                                    <ng-container
                                        *ngIf="(StaffDetailsForm.get('positionId').touched || StaffDetailsForm.get('positionId').dirty) && (StaffDetailsForm.get('positionId').errors)">
                                        <mat-error *ngIf="StaffDetailsForm.get('positionId').errors.required">
                                            Role is required
                                        </mat-error>
                                    </ng-container>

                                </mat-form-field>
                            </div>
                            <div fxLayout="row">
                                <div fxLayout="column">
                                    <div fxLayout="row" fxLayoutAlign="space-between center">
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isQPLLeader">QI Lead Doc</mat-checkbox>
                                        </div>
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isPracticeManager">Practice Manager

                                            </mat-checkbox>
                                        </div>
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isQITeam">QI Team</mat-checkbox>
                                        </div>
                                        <div fxLayout="column">
                                            <mat-checkbox formControlName="isInterventionContact">Intervention Contact
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="space-around center">
                                        <mat-checkbox formControlName="isRVPIBoard">RVPI Board</mat-checkbox>
                                        <mat-checkbox formControlName="isOVPCABoard">OVPCA Board</mat-checkbox>
                                        <mat-checkbox formControlName="isPHOBoard">PHO Board</mat-checkbox>
                                    </div>
                                </div>

                            </div>
                            <div fxLayout="row">
                                <button mat-flat-button color="accent" (click)="updateStaff()">SAVE</button>
                            </div>
                        </div>
                        <div class="staffDetailDivider">

                        </div>
                        <div fxLayout="column" fxFlex="50%">
                            <div fxLayout="row" fxLayoutAlign="flex-start center">ADD / UPDATE PORTAL INFO</div>
                            <div fxLayout="row" fxLayoutAlign="space-around center">
                                <mat-form-field>
                                    <mat-label>USER NAME</mat-label>
                                    <input matInput [value]="">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>PASSWORD</mat-label>
                                    <input matInput [value]="">
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>CONFIRM PW</mat-label>
                                    <input matInput [value]="">
                                </mat-form-field>
                                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                                    <mat-button-toggle value="bold">Yes</mat-button-toggle>
                                    <mat-button-toggle value="italic">No</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div fxLayout="row">

                                <mat-checkbox>Practice Member</mat-checkbox>
                                <mat-checkbox>Practice Admin</mat-checkbox>
                                <mat-checkbox>PHO Member</mat-checkbox>
                                <mat-checkbox>PHO Admin</mat-checkbox>

                            </div>
                            <div fxLayout="row">
                                <button mat-flat-button color="accent">SAVE</button>
                            </div>
                        </div>

                    </div>
                </form>
            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="staff-element-row"
            [class.staff-expanded-row]="expandedElement === element" (click)="getStaffDetails(element.id)"
            (click)="expandedElement=expandedElement===element ? null : element">
        </tr>

        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="staff-detail-row"></tr>

    </table>
</div>
