
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
	<div>
		Enter User Name: <input id="txtUserName" type="text" /></br>
		Enter Password: <input id="txtPassword" type="text" /></br>
		<input id="btnLogin" type="button" value="Submit" />
	</div>
</body>
</html>
