
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h3>An error has been encountered.</h3>
        <p>An unexpected error has occurred. The details will be forwarded to the appropriate CCHMC IS resource.</p>
        <a href="~/Home/"> Return to Tri-State Child Health Services Home </a>
    </div>
</body>
</html>
