@{
    ViewBag.Title = "Home Page";
}
@using PHO_WebApp.Models;

<div class="container img-top1">
    <img src="~/Images/Home_10212019.jpg" style="height:692px" />
    <div class="text-block" style="width:400px; overflow-wrap:normal">
        <h1 style="font-weight:700; font-family:'Arvo', serif">About The Registry</h1>
        <p style="font-weight:400; font-family: 'Nunito Sans', sans-serif; font-size:17px;">The PHO offers a central portal known as “The Registry.”  As a PHO member, you and others in your practice can access patient information for all your patients.  Using the registry, your patients can participate in quality improvement initiatives to help advance the outcomes of all children in the PHO.  In one place, you can monitor and compare the outcome of your patient population to that of the PHO network.  </p>
    </div>
</div>


@*<div class="jumbotron content-div2">
        <h1>PHO - Home Page</h1>
        <p class="lead">This would be the splash page for the PHO Web Application in MVC. We could add partial views to this page that enable the user to login or access content, similar to the what we're doing today on the Portal.</p>

    </div>*@

<div class="row">
    <div class="col-md-4">
        <h2>What is a Cohort?</h2>
        <p>
            A cohort is a group of patients that meet a set of criteria in order to participate in a QI Initiative. A cohort can be used when automating QI measures or for ad-hoc analysis. It can also be used to filter data collections from EPIC.
        </p>
        <p>
            @if (SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
            {
                @Html.RouteLink("Learn more", "Cohort", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>What is an Initiative?</h2>
        <p>
            An initiative is a focused effort to improve the outcome of patients usually based on condition. Typically, an initiative includes quality improvement. measures in order to track patient improvement over time.
        </p>
        <p>
            @if (SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
            {
                @Html.RouteLink("Learn more", "Initiative", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>What is a Measure?</h2>
        <p>All quality improvement requires measurement. A standard run chart is often used to measure the performance of a process or outcome over time. A median or mean is used to monitor for average improvement and control limits are used to measure normal variation</p>
        <p>
            @if (SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
            {
                @Html.RouteLink("Learn more", "Measure", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
</div>
