@{
    ViewBag.Title = "Home Page";
}
<div class="container img-top1">
    <img src="~/Images/14_Park Shoot_tm_239.jpg" style="height:768.3px" />
    <div class="text-block" style="width:650px; overflow-wrap:normal">
        <h1 style="font-weight:700; font-family:'Arvo', serif">About The Registry</h1>
        <p style="font-weight:400; font-family: 'Nunito Sans', sans-serif; font-size:17px;">The PHO offers a central portal known as “The Registry.” As a PHO member, you and others in your practice can access patient information for your all your patients.  Using the registry, your patients can participate in quality improvement initiatives to help advance the outcomes of all children in the PHO.  In one place, you can monitor and compare the outcome of your patient population to that of the PHO network.  </p>
    </div>
</div>


@*<div class="jumbotron content-div2">
    <h1>PHO - Home Page</h1>
    <p class="lead">This would be the splash page for the PHO Web Application in MVC. We could add partial views to this page that enable the user to login or access content, similar to the what we're doing today on the Portal.</p>
    
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Div One</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @{@Html.Action("LoginForm", "Login");}
    </div>
    <div class="col-md-4">
        <h2>Div Three</h2>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
