
@{
    ViewBag.Title = "Home Page";
}
@using PHO_WebApp.Models;

<div class="container img-top1">
    <img style="width:100%; height:auto;" src="~/Images/Home_10212019.jpg" />
</div>



<div class="row">
    <div class="col-md-4">
        <h2>What is a Cohort?</h2>
        <p>
            A cohort is a group of patients that meet a set of criteria in order to participate in a QI Initiative. A cohort can be used when automating QI measures or for ad-hoc analysis. It can also be used to filter data collections from EPIC.
        </p>
        <p>
            @if (SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
            {
                @Html.RouteLink("Learn more", "Cohort", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>What is an Initiative?</h2>
        <p>
            An initiative is a focused effort to improve the outcome of patients usually based on condition. Typically, an initiative includes quality improvement. measures in order to track patient improvement over time.
        </p>
        <p>
            @if (SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
            {
                @Html.RouteLink("Learn more", "Initiative", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>What is a Measure?</h2>
        <p>All quality improvement requires measurement. A standard run chart is often used to measure the performance of a process or outcome over time. A median or mean is used to monitor for average improvement and control limits are used to measure normal variation</p>
        <p>
            @if (SharedLogic.IsAuthenticated(new StaffTypeEnum[] { StaffTypeEnum.CCHMC_IS, StaffTypeEnum.PHO_Staff }, Session["UserDetails"]))
            {
                @Html.RouteLink("Learn more", "Measure", null, new { @class = "btn btn-default" })
            }
        </p>
    </div>
</div>
