@using PHO_WebApp.Models;
@model PHO_WebApp.Models.SurveyForm
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey - @Model.Survey_Title</h2>

@using (Html.BeginForm("Save", "Survey", FormMethod.Post))
{
    @Html.HiddenFor(m => Model.FormId);
    for (var i = 0; i < Model.FormSections.Count(); i++)
    {
        @Html.EditorFor(model => Model.FormSections[i])
    }

    <input type="submit" name="Login" value="Submit" class="btn btn-primary" />
}


