@model PHO_WebApp.Models.Section

@foreach (var sectionQuestion in Model.SectionQuestions)
{
    foreach (var question in sectionQuestion.Questions)
    {
        if (question.QuestionType.ToUpper() == "TEXTBOX")
        {
            <div>
                @Html.Label(question.QuestionLabel)
                <input type="text" id="@sectionQuestion.Id">
            </div>
        }
    }
}
