<!-- Toolbar -->
<div fxLayout="row" class="home-submenu" > 
  <div fxLayout="row" fxFlex="10">
    LOGO
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
    <button mat-button routerLink="dashboard">Dashboard</button>
    <button mat-button routerLink="patients">Patients</button>
    <button mat-button routerLink="staff">Staff</button>
    <button mat-button routerLink="files">Files</button>
    <button mat-button routerLink="workbooks">Workbooks</button>
  </div>

</div>



<router-outlet></router-outlet>