@{
	//Layout = null;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<!DOCTYPE html>*@

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Cohort</title>
</head>
<body>
	<h2>List of PHO Cohorts</h2>
	@*<div class="form-group pull-left" style="float:right">
			<h3>Search</h3>
			<input text="" class="form-control search" id="search" />
		</div>*@
	<div class="table-responsive">
		<table id="tblCohort" class="table table-sm table-responsive-md table-condensed table-hover table-bordered table-striped">
			<thead class="black white-text">
				<tr class="d-flex">
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Short Name</th>
					<th scope="col">Description</th>
					<th scope="col">Owner</th>
					<th scope="col">Modified Date</th>
				</tr>
			</thead>
		</table>
	</div>
	@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	@section Scripts{
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

		<script type="text/javascript">
			$(document).ready(function () {
				@*$.ajax({
					url: '@Url.Action("Cohort", "Home")',
					method: "GET",
					datatype: 'json',
					success: function (data) {*@
				$("#tblCohort").DataTable({
					"ajax": {
						"url": '@Url.Action("DisplayCohort", "Home")',
						"method": "GET",
						"datatype": "JSON"
					},
					"columns": [
						{"data": "Id"},
						{"data": "Name"},
						{"data": "ShortName"},
						{"data": "Description"},
						{"data": "Owner"},
						{"data": "ModifiedDate"}
					]

				});

			});
		</script>
	}
</body>
</html>

