<div toastContainer class="alert-container"><span></span></div>
<div fxLayout="row" class="content-main" fxLayoutGap="33px">
    <div fxLayout="column" fxFlex="65%" class="content-box">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="50%">
                <div class="content-title mat-subheading-1 title-green">
                    MONTHLY SPOTLIGHT
                </div>
                <div class="content-text">
                    <div class="mat-subheading-2 text-green">Exceptional Patient Care: ESD Pediatrics</div>
                    <p>ESD Pediatric Group had a successful second quarter. Read on to learn how their processes could help your practice acheive your quarterly goals. ESD Pediatric Group had a successful second quarter. Read on to learn how their processes could help your practice acheive your quarterly goals. ESD Pediatric Group had a successful second quarter. <a> Read more »</a></p>
                </div>
            </div>
            <div fxLayout="column">
                <div class="spotlight-img"><img src="\assets\img\Spotlight_Img1.jpeg"></div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex class="content-box quick-links">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-purple">
                QUICK LINKS
            </div>
        </div>
        <div fxLayout="row" class="quick-links-container" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutGap="29px">
                <div fxLayout="column" class="quick-link-box">
                    Top Billed J Codes
                </div>
                <div fxLayout="column" class="quick-link-box">
                    One
                </div>
                <div fxLayout="column" class="quick-link-box">
                    One
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row" class="content-main" fxLayoutGap="33px">
    <div fxLayout="column" fxFlex="65%" class="content-box ed-chart">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-secondary">
                ED 10-DAY CHART
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="mat-subheading-2 text-secondary">ED Patient Counts for 11/17 - 11/26</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            CHART
        </div>
    </div>
    <div fxLayout="column" fxFlex class="content-box population-details">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-primary">
                POPULATION DETAILS
            </div>
        </div>
        <div fxLayout="row" class="population-content">
            <mat-tab-group mat-stretch-tabs class="population-tabs">
                <mat-tab label="MY POPULATION"> 

                    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">



  <ng-container matColumnDef="measure">
    <th mat-header-cell *matHeaderCellDef> Measure </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>


  <ng-container matColumnDef="practice">
    <th mat-header-cell *matHeaderCellDef> Practice </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <ng-container matColumnDef="network">
    <th mat-header-cell *matHeaderCellDef> Network </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
    
                </mat-tab>
                <mat-tab label="MY OUTCOMES"> Content 2 </mat-tab>
              </mat-tab-group>
        </div>
    </div>
</div>
