<div fxLayout="row" class="content-main" fxLayoutGap="33px">
    <div fxLayout="column" fxFlex="65%" class="content-box">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="50%">
                <div class="content-title mat-subheading-1 title-green">
                    MONTHLY SPOTLIGHT
                </div>
                <div class="content-text">
                    <div class="mat-subheading-2 text-green">{{monthlySpotlightTitle}}</div>
                    <p>{{monthlySpotlightBody | slice:0:342}} <a href='{{monthlySpotlightLink}}' target="_blank"> Read
                            more »</a></p>
                </div>
            </div>
            <div fxLayout="column">
                <div class="spotlight-img"><img src="{{monthlySpotlightImageUrl}}"></div>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxFlex class="content-box quick-links">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-purple">
                QUICK LINKS
            </div>
        </div>
        <div fxLayout="row" class="quick-links-container" fxLayoutAlign="center center">
            <div fxLayout="row" fxFlex="100%">
                <div *ngFor="let item of quickLinks | slice:0:3; let i=index;">
                    <div fxLayout="column" class="quick-link-box">
                        <a href="{{item.hyperlink}}" target="{{item.target}}">
                            {{item.body}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" class="quick-links-container" fxLayoutAlign="center center">
            <div fxLayout="row" fxFlex="100%">
                <div *ngFor="let item of quickLinks | slice:3:6; let i=index;">
                    <div fxLayout="column" class="quick-link-box">
                        <a href="{{item.hyperlink}}" target="{{item.target}}">
                            {{item.body}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row" class="content-main" fxLayoutGap="33px">
    <div fxLayout="column" fxFlex="65%" class="content-box ed-chart">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-secondary">
                ED 12-DAY CHART
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div class="mat-subheading-2 text-secondary">{{edChartTitle}}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <canvas id="edChart"></canvas>
        </div>
    </div>
    <div fxLayout="column" fxFlex class="content-box population-details">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-primary">
                POPULATION DETAILS
            </div>
        </div>
        <div fxLayout="row" class="population-content">
            <mat-tab-group dynamicHeight mat-stretch-tabs class="population-tabs">
                <mat-tab label="POPULATION">

                    <table mat-table [dataSource]="dataSourceOne" class="mat-elevation-z8">
                        <ng-container matColumnDef="dashboardLabel">
                            <th mat-header-cell *matHeaderCellDef> Measure </th>
                            <td mat-cell *matCellDef="let element" matTooltip="{{element.measureDesc}}">
                                {{element.dashboardLabel}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="practiceTotal">
                            <th mat-header-cell *matHeaderCellDef> Practice </th>
                            <td mat-cell *matCellDef="let element" (click)="toFilteredPatients(element)"> {{element.practiceTotal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="networkTotal">
                            <th mat-header-cell *matHeaderCellDef> Network </th>
                            <td mat-cell *matCellDef="let element"> {{element.networkTotal}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </mat-tab>
                <mat-tab label="OUTCOMES">
                    <table mat-table [dataSource]="dataSourceTwo" class="mat-elevation-z8">
                        <ng-container matColumnDef="dashboardLabelQi">
                            <th mat-header-cell *matHeaderCellDef> Measure </th>
                            <td mat-cell *matCellDef="let element" matTooltip="{{element.measureDesc}}">
                                {{element.dashboardLabel}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="practiceTotalQi">
                            <th mat-header-cell *matHeaderCellDef> Practice </th>
                            <td mat-cell *matCellDef="let element" (click)="toFilteredOutcomes(element)"> {{element.practiceTotal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="networkTotalQi">
                            <th mat-header-cell *matHeaderCellDef> Network </th>
                            <td mat-cell *matCellDef="let element"> {{element.networkTotal}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsQi"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsQi;"></tr>
                    </table>
                </mat-tab>
                <mat-tab label="CONDITIONS">
                    <table mat-table [dataSource]="dataSourceThree" class="mat-elevation-z8">
                        <ng-container matColumnDef="dashboardLabelCondition">
                            <th mat-header-cell *matHeaderCellDef> Measure </th>
                            <td mat-cell *matCellDef="let element" matTooltip="{{element.measureDesc}}">
                                <a href="{{element.opDefURL}}" target= "_blank">
                                    {{element.dashboardLabel}}
                                </a>                                
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="practiceTotalCondition">
                            <th mat-header-cell *matHeaderCellDef> Practice </th>
                            <td mat-cell *matCellDef="let element" (click)="toFilteredConditions(element)"> {{element.practiceTotal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="networkTotalCondition">
                            <th mat-header-cell *matHeaderCellDef> Network </th>
                            <td mat-cell *matCellDef="let element"> {{element.networkTotal}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCondition"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCondition;"></tr>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<!-- Dialog Template -->
<ng-template #callEDDialog>
    <div mat-dialog-content class="mat-typography">
        <h3>ED Details: </h3>
        <table id="EDChartData" class="ed-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Patient MRN</th>
                    <th>Patient Encounter ID</th>
                    <th>Facility</th>
                    <th>Patient Name</th>
                    <th>Patient DOB</th>
                    <th>PCP</th>
                    <th>Hospital Admission</th>
                    <th>Hospital Discharge</th>
                    <th>Visit Type</th>
                    <th>Primary DX</th>
                    <th>Primary DX_10Code</th>
                    <th>DX2</th>
                    <th>DX2_10Code</th>
                    <th>Inpatient Visit</th>
                    <th>ED Visit Count Last 12m</th>
                    <th>UC Visit Count Last 12m</th>
                    <th>Admit Count Last 12m</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of edChartDetails; let i=index;">
                    <td>{{i+1}}</td>
                    <td>{{item.patientMRN}}</td>
                    <td>{{item.patientEncounterID}}</td>
                    <td>{{item.facility}}</td>                   
                    <td class="underline" (click)="onSelectedPatient(item.patientId, item.patientName)">{{item.patientName}}</td>
                    <td>{{item.patientDOB | date:'shortDate'}}</td>
                    <td>{{item.pcp}}</td>
                    <td>{{item.hospitalAdmission | date:'short'}}</td>
                    <td>{{item.hospitalDischarge | date:'short'}}</td>
                    <td>{{item.visitType}}</td>
                    <td>{{item.primaryDX}}</td>
                    <td>{{item.primaryDX_10Code}}</td>
                    <td>{{item.dX2}}</td>
                    <td>{{item.dX2_10Code}}</td>
                    <td>{{item.inpatientVisit}}</td>
                    <td>{{item.edVisitCount}}</td>
                    <td>{{item.ucVisitCount}}</td>
                    <td>{{item.admitCount}}</td>
                </tr>
        </table>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button (click)="downloadToExcel()">Download</button>
        <button mat-button (click)="OpenReport()">View Report</button>
    </div>

</ng-template>