<div fxLayout="row" class="content-main" fxLayoutGap="33px">
    <div fxLayout="column" fxFlex="65%" class="content-box">
        <div fxLayout="row">
            <div fxLayout="column" fxFlex="50%">
                <div class="content-title mat-subheading-1 title-green">
                    MONTHLY SPOTLIGHT
                </div>
                <div class="content-text">
                    <div class="mat-subheading-2 text-green">{{monthlySpotlightTitle}}</div>
                    <p>{{monthlySpotlightBody | slice:0:342}} <a href='{{monthlySpotlightLink}}' target="_blank"> {{monthlySpotlightLinkLabel}} »
                            </a></p>
                </div>
            </div>
            <div fxLayout="column">
                <div class="spotlight-img"><a href='{{monthlySpotlightLink}}' target="_blank"><img src="{{monthlySpotlightImageUrl}}"></a></div>
            </div>
        </div> 
    </div>
    <div fxLayout="column" fxFlex class="content-box quick-links">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-purple">
                QUICK LINKS
            </div>
        </div>
        <div fxLayout="row" class="quick-links-container" fxLayoutAlign="center center">
            <div fxLayout="row" fxFlex="100%">
                <div *ngFor="let item of quickLinks | slice:0:3; let i=index;">
                    <div fxLayout="column" class="quick-link-box">
                        <a href="{{item.hyperlink}}" target="{{item.target}}">
                            {{item.body}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" class="quick-links-container" fxLayoutAlign="center center">
            <div fxLayout="row" fxFlex="100%">
                <div *ngFor="let item of quickLinks | slice:3:6; let i=index;">
                    <div fxLayout="column" class="quick-link-box">
                        <a href="{{item.hyperlink}}" target="{{item.target}}">
                            {{item.body}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row" class="content-main" fxLayoutGap="33px">
    <div fxLayout="column" fxFlex="65%" class="content-box ed-chart">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-secondary" (click)="switchBackToEDChart()">
               {{webChartTopLeftLabel}}
            </div>           
        </div> 
              
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="mat-subheading-2" *ngFor="let item of webChartTitle">
                <div class="chart-title text-secondary">{{item}}</div>
            </div>         
            <div  fxLayoutAlign="space-around end !important" *ngIf="this.filterId !== webChartFilterIdEnum.none">
                <mat-form-field class="selectFilterFontColor" >
                    <mat-select [(ngModel)]="webchartfilters" (selectionChange)="onWebReportConditionChange($event)" class="mat-subheading-2 text-secondary">
                      <mat-option class="selectFilterFontColor" *ngFor="let webchartfilter of webchartfilterList" [value]="webchartfilter.filterId" >
                        {{webchartfilter.filterLabel}}
                      </mat-option>                     
                    </mat-select>
                </mat-form-field>
            </div>           
        </div> 
        
        <div fxLayout="row" fxLayoutAlign="center center">
            <canvas id="webChart"></canvas>
        </div>
    </div>
    <div fxLayout="column" fxFlex class="content-box population-details">
        <div fxLayout="row">
            <div class="content-title mat-subheading-1 title-primary">
                POPULATION DETAILS
            </div>
        </div>
        <div fxLayout="row" class="population-content">
            <mat-tab-group dynamicHeight mat-stretch-tabs class="population-tabs">
                <mat-tab label="POPULATION">

                    <table mat-table [dataSource]="dataSourceOne" class="mat-elevation-z8">
                        <ng-container matColumnDef="dashboardLabel">
                            <th mat-header-cell *matHeaderCellDef> Measure </th> 
                                <td mat-cell *matCellDef="let element" matTooltip="{{element.measureDesc}}" (click)="updateChartReport(element)">
                                    {{element.dashboardLabel}}
                                </td>
                        </ng-container>

                        <ng-container matColumnDef="practiceTotal">
                            <th mat-header-cell *matHeaderCellDef> Practice </th>
                            <td mat-cell *matCellDef="let element" (click)="toFilteredPatients(element)"> {{element.practiceTotal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="networkTotal">
                            <th mat-header-cell *matHeaderCellDef> Network </th>
                            <td mat-cell *matCellDef="let element"> {{element.networkTotal}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </mat-tab>
                <mat-tab label="OUTCOMES">
                    <table mat-table [dataSource]="dataSourceTwo" class="mat-elevation-z8">
                        <ng-container matColumnDef="dashboardLabelQi">
                            <th mat-header-cell *matHeaderCellDef> Measure </th>                            
                            <td mat-cell *matCellDef="let element" matTooltip="{{element.measureDesc}}" (click)="updateChartReport(element)"> 
                                <ng-container *ngIf = "element.opDefURL == ''"  >                                  
                                    {{element.dashboardLabel}}                                    
                                </ng-container>
                                <ng-container *ngIf = "element.opDefURL != ''"  >
                                    {{element.dashboardLabel}}
                                    <a href="{{element.opDefURL}}" target= "_blank">
                                        <mat-icon  class="fas fa-info-circle alert-icon" style="font-size: 1em;"></mat-icon>
                                    </a>
                                </ng-container>    
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="practiceTotalQi">
                            <th mat-header-cell *matHeaderCellDef> Practice </th>
                            <td mat-cell *matCellDef="let element" (click)="toFilteredOutcomes(element)"> {{element.practiceTotal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="networkTotalQi">
                            <th mat-header-cell *matHeaderCellDef> Network </th>
                            <td mat-cell *matCellDef="let element"> {{element.networkTotal}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsQi"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsQi;"></tr>
                    </table>
                </mat-tab>
                <mat-tab label="CONDITIONS">
                    <table mat-table [dataSource]="dataSourceThree" class="mat-elevation-z8">                       
                        <ng-container matColumnDef="dashboardLabelCondition">
                            <th mat-header-cell *matHeaderCellDef> Measure </th>
                            <td mat-cell *matCellDef="let element" matTooltip="{{element.measureDesc}}" (click)="updateChartReport(element)"> 
                                <ng-container *ngIf = "element.opDefURL == ''"  >                                  
                                    {{element.dashboardLabel}}                                    
                                </ng-container>
                                <ng-container *ngIf = "element.opDefURL != ''"  >
                                    {{element.dashboardLabel}}
                                    <a href="{{element.opDefURL}}" target= "_blank">
                                        <mat-icon  class="fas fa-info-circle alert-icon" style="font-size: 1em;"></mat-icon>
                                    </a>
                                </ng-container>     

                            </td>
                        </ng-container>

                        <ng-container matColumnDef="practiceTotalCondition">
                            <th mat-header-cell *matHeaderCellDef> Practice </th>
                            <td mat-cell *matCellDef="let element" (click)="toFilteredConditions(element)"> {{element.practiceTotal}} </td>
                        </ng-container>

                        <ng-container matColumnDef="networkTotalCondition">
                            <th mat-header-cell *matHeaderCellDef> Network </th>
                            <td mat-cell *matCellDef="let element"> {{element.networkTotal}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCondition"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCondition;"></tr>
                    </table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<script src="assets/js/Chart.js"></script>