<div fxLayout="row">
    <div id="contact-details" fxLayout="column" fxFlex="55">
        <div fxLayout="row" class="detail-heading">
            PRACTICE DETAILS
        </div>                                               
        <div fxLayout="row">           
            <form [formGroup]="ContactDetailsForm">
                <div class="contact-element-detail" fxFlex="85">
                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                                
                        <div fxLayout="column" fxFlex="35">
                            <mat-form-field floatLabel="always">
                                <mat-label>Practice Name </mat-label>
                                <input matInput formControlName="practiceName" class="practice-name" readonly>
                            </mat-form-field>                             
                        </div>
                        <div fxLayout="column" fxFlex="12">
                            <mat-form-field floatLabel="always">
                                <mat-label>Member Since</mat-label>
                                <input matInput formControlName="memberSince" readonly> 
                            </mat-form-field>                                   
                        </div>
                        <div fxLayout="column" fxFlex="28">
                            <a [href]="'mailto:'+ pmEmail"> 
                                <div fxLayout="column" fxFlex="70">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>PRACTICE MANAGER</mat-label>                                                                                             
                                        <input matInput formControlName="practiceManager" readonly>                                                                                                                                            
                                        <mat-icon matSuffix>email</mat-icon>                                                                                        
                                    </mat-form-field>                                   
                                </div>
                            </a>
                        </div>                                        
                        <div fxLayout="column" [fxShow]=false>
                            <mat-form-field floatLabel="always">
                                <mat-label>PRACTICE MANAGER'S EMAIL</mat-label>
                                <input matInput formControlName="pmEmail" readonly>
                            </mat-form-field>                                    
                        </div> 
                        <div fxLayout="column" fxFlex="28">
                            <a [href]="'mailto:'+  picEmail">
                                <div fxLayout="column" fxFlex="70">
                                    <mat-form-field floatLabel="always">
                                        <mat-label>PIC</mat-label>                                                                                          
                                        <input matInput formControlName="pic" readonly>                                               
                                            <mat-icon matSuffix>email</mat-icon>                                                                                       
                                    </mat-form-field>                                    
                                </div>
                            </a>     
                        </div>                                
                        <div fxLayout="column"  [fxShow]=false>
                            <mat-form-field floatLabel="always">
                                <mat-label>PIC'S EMAIL</mat-label>
                                <input matInput formControlName="picEmail" readonly>                                        
                            </mat-form-field>                                   
                        </div>                                
                        <div fxLayout="column" fxFlex [fxShow]=false>
                            <mat-form-field floatLabel="always">
                                <mat-label>Practice Id</mat-label>
                                <input matInput formControlName="practiceId" readonly>
                            </mat-form-field>                                    
                        </div>                           
                    </div>  
                    <div fxLayout="row" fxLayoutGap="34px">                                                           
                        <div fxLayout="column" fxLayoutGap="33px" class="form-row" fxFlex="95" class="location-details">
                            <div fxLayout="column" class="detail-heading">
                                LOCATION DETAILS
                            </div>  
                            <div fxLayout="column" fxLayoutGap="33px">
                                <div fxLayout="column" formArrayName="locations"
                                    *ngFor="let item of ContactDetailsForm.get('locations')['controls']; let i = index; last as isLast;">
                                    <div [formGroupName]="i" class="location-details">
                                        <div fxLayout="row" fxLayoutGap="34px" class="form-row">
                                            <mat-form-field floatLabel="always" [fxShow]=false>
                                                <mat-label>Practice Id</mat-label>
                                                <input matInput formControlName="practiceId" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" [fxShow]=false>
                                                <mat-label>Location Id</mat-label>
                                                <input matInput formControlName="locationId" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" fxFlex="30">
                                                <mat-label>location Name</mat-label>
                                                <input matInput formControlName="locationName" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" class="input-w-icon" fxFlex="20">                                                        
                                                <mat-label>Office Phone</mat-label>                                                       
                                                <mat-icon matPrefix>phone</mat-icon>
                                                <input matInput formControlName="officePhone" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                <mat-label>Fax</mat-label>
                                                <input matInput formControlName="fax" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                <mat-label>County</mat-label>
                                                <input matInput formControlName="county" readonly>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" fxLayoutGap="34px" class="form-row">                                                   
                                            <mat-form-field floatLabel="always" fxFlex="30">
                                                <mat-label>Address</mat-label>
                                                <input matInput formControlName="address" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" fxFlex fxFlex="20">
                                                <mat-label>City</mat-label>
                                                <input matInput formControlName="city" readonly>
                                            </mat-form-field>
                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                <mat-label>State</mat-label>
                                                <input matInput formControlName="state" readonly>
                                            </mat-form-field> 
                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                <mat-label>Zip</mat-label>
                                                <input matInput formControlName="zip" readonly>
                                            </mat-form-field>                                                                 
                                        </div>                                                                                                                                                                                                                                                                                  
                                    </div>                                                   
                                    <mat-divider class="locationDivider" *ngIf = "!isLast"></mat-divider>                                                                                                                                    
                                </div>                                   
                            </div>                                   
                        </div>                                                           
                    </div>                                           
                </div>
            </form>
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div id="contact-details" style="padding-left: 1em;padding-right: 1em;" fxLayout="column" fxFlex>
        <div fxLayout="row" class="detail-heading">
            PROVIDER LOOKUP
        </div>
        <div fxLayout="column" fxLayoutGap="34px" class="form-row">  
            <div fxLayout="column" fxFlex="70" class="contact-element-detail">
                <mat-form-field class="providerDropdown">                                   
                    <mat-label>SELECT PROVIDER OR STAFF</mat-label>                                                                      
                    <mat-select [(value)]="selectedStaffId" (selectionChange)="getSelectedContactStaff($event.value)">                                     
                        <mat-option *ngFor="let contactstaff of contactPracticeStaffList" [value]="contactstaff.staffId">
                            {{contactstaff.staffName}}
                        </mat-option>                                                                                                       
                    </mat-select>
                    <mat-icon matPrefix>person</mat-icon> 
                </mat-form-field>                                                               
            </div>                                                                       
        </div>
        <div fxLayout="column" fxLayoutGap="34px" class="form-row">  
            <form [formGroup]="ContactProvidersForm">
                <div class="contact-element-detail" fxFlex>                            
                    <div fxLayout="row" fxLayoutGap="34px" class="form-row"> 
                        <a [href]="'mailto:'+ providerEmail" fxFlex="80">                      
                            <div fxLayout="column" fxFlex="100">
                                <mat-form-field floatLabel="always">
                                    <mat-label>EMAIL</mat-label>
                                    <input matInput formControlName="email" readonly>
                                    <mat-icon matSuffix>email</mat-icon>                                                                                     
                                </mat-form-field>                             
                            </div>
                        </a>
                        <div fxLayout="column" fxFlex="100">                                           
                            <mat-form-field floatLabel="always">
                                <mat-label>PHONE</mat-label>
                                <mat-icon matPrefix>phone</mat-icon>
                                <input matInput formControlName="phone" readonly> 
                            </mat-form-field>                                   
                        </div>                                                                                        
                    </div>
                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                     
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field floatLabel="always">
                                <mat-label>POSITION</mat-label>
                                <input matInput formControlName="position" readonly>
                            </mat-form-field>                             
                        </div>
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field floatLabel="always">
                                <mat-label>NPI</mat-label>
                                <input matInput formControlName="npi" readonly> 
                            </mat-form-field>                                   
                        </div>                                                                                        
                    </div>
                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                     
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field floatLabel="always">
                                <mat-label>LOCATIONS</mat-label>
                                <input matInput formControlName="locations" readonly>
                            </mat-form-field>                             
                        </div>
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field floatLabel="always">
                                <mat-label>SPECIALTY</mat-label>
                                <input matInput formControlName="specialty" readonly> 
                            </mat-form-field>                                   
                        </div>                                                                                        
                    </div>
                    <div fxLayout="row" fxLayoutGap="90px" class="form-row">                         
                        <div fxLayout="column" fxFlex="62px" class="form-row">
                            <mat-checkbox formControlName="specialty" disabled>Comm Specialist</mat-checkbox>                                                            
                        </div> 
                        <div fxLayout="column" fxFlex="62px" class="form-row">
                            <mat-checkbox formControlName="ovpcaPhysician" disabled>OVPCA Physician</mat-checkbox>                                                            
                        </div> 
                        <div fxLayout="column" fxFlex="62px" class="form-row">
                            <mat-checkbox formControlName="ovpcaMidLevel" disabled>OVPCA Mid Level</mat-checkbox>                                                            
                        </div>                                                                                                                                      
                    </div>                         
                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                     
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field floatLabel="always">
                                <mat-label>RESPONSIBILITIES</mat-label>
                                <input matInput formControlName="responsibilities" readonly>
                            </mat-form-field>                             
                        </div>
                        <div fxLayout="column" fxFlex="100">
                            <mat-form-field floatLabel="always">
                                <mat-label>BOARD MEMBERSHIP</mat-label>
                                <input matInput formControlName="boardMembership" readonly> 
                            </mat-form-field>                                   
                        </div>                                                                                        
                    </div>  
                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                      
                        <div fxLayout="column" fxFlex>
                            <mat-form-field floatLabel="always">
                                <mat-label>NOTES ABOUT THIS PROVIDER</mat-label>
                                <input matInput formControlName="notesAboutProvider" readonly> 
                            </mat-form-field>                                   
                        </div>                                                                                        
                    </div>                                                                               
                </div>
            </form>
        </div>
    </div>
</div>