
@font-face {
    font-family: 'AvenirNext';
    src: url('fonts/Avenir-Next.otf') format('opentype');
  }
@font-face {
  font-family: 'ArcherBold';
  src: url('fonts/Archer-Bold-Pro.otf') format('opentype');
}
@font-face {
    font-family: 'ArcherSemiBold';
    src: url('fonts/ArcherPro-Semibold_0.otf') format('opentype');
  }
  @font-face {
    font-family: 'ArcherMedium';
    src: url('fonts/Archer-Medium-Pro.otf') format('opentype');
  }
  @font-face {
    font-family: 'ArcherLight';
    src: url('fonts/Archer-Light-Pro.otf') format('opentype');
  }
  @font-face {
    font-family: 'ArcherBook';
    src: url('fonts/Archer-Book-Pro.otf') format('opentype');
  }
  @font-face {
    font-family: 'ArcherBookItalic';
    src: url('fonts/Archer-BookItal-Pro.otf') format('opentype');
  }