@*@model PHO_WebApp.Models.Patient*@
@{
	ViewBag.Title = "GetPatientInfo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
	<title>Patient Details</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<style>
		#maincontent {
			background-color: lemonchiffon;
			height: auto;
			padding-top: 20px;
		}
	</style>
</head>

<body>

	<div id="maincontent" class="col-sm-12">
		<div class="panel panel-primary" style="width:100%">
			<div class="panel-heading">
				<h2 class="panel-title">Patient Summary</h2>
			</div>
			<div class="panel-body">
				<div class="form-group">
					@Html.TextBoxFor(ViewBag.FirstName, new { @class = "form-control" })					
				</div>
				
				@*<div class="form-group">
					@Html.LabelFor(m => m.Entity.PracticelocationId, "PracticeLocationId")
					@Html.TextBoxFor(m => m.Entity.PracticelocationId, new { @class = "form-control" })
				</div>
				<div>
					@Html.DropDownListFor(m => m.Entity.PracticelocationId, new SelectList(Model.AllInitiativeStatuses, "id", "Name"), "-- Select Status --", new { id = "StatusDropdownList" })

				</div>*@
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-sm-12">
						<button id="btnSave" class="btn btn-sm btn-primary" data-pdsa-action="SaveStaff">
							<i class="fas fa-save"></i>&nbsp;Save
						</button>
						<button id="btnCancel" class="btn btn-sm btn-primary" formnovalidate="formnovalidate" data-pdsa-action="cancel">
							<i class="fas fa-strikethrough"></i>&nbsp;Cancel
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script>
		$(document).ready(function () {			
			$('#MyForm').click(function () {
				alert('You clicked me!');
			});
		});
	</script>

</body>

</html>

