<div class="content-main">
    <div mat-dialog-content class="mat-typography">
        <h3>{{headerDisplayText}}</h3>
        <table class="ed-table">
            <thead>
               <tr>
                  <th *ngFor="let item of headerColumns">{{item.columnName}}</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let row of rows">
                  <td *ngFor="let column of row.columns">
                        {{column.value}}
                  </td>
               </tr>
            </tbody>
         </table>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close (click)="cancel()">Close</button>
        <!-- <button mat-button (click)="confirm()">Print Report</button> -->
    
    </div>
</div>

