<div id="contactPage" class="content-main"> 
    <div fxLayout="row" class="contacts-header">
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="5">           
            <button mat-button (click)="refreshContactPage()">All PHO</button>
        </div>       
        <div fxLayout="column" [ngStyle]="{'color': textColor}" class="header-filter filter-btn" fxFlex="10">           
            <button mat-button #qpl (click)="hasQPLFilter($event)">QPLs and PAs</button>
        </div>
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="20">
            <mat-form-field>
                <mat-label>Specialty</mat-label>
                <mat-select [(ngModel)]="specialties" (ngModelChange)="specialties" multiple (selectionChange)="contactHasSpecialties($event)">                   
                    <mat-option *ngFor="let specialty of contactPracticeSpecialties" [value]="specialty.id">
                        {{specialty.specialtyName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>            
        </div>        
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="15">
            <mat-form-field>
                <mat-label>PHO Membership</mat-label>              
                    <mat-select [(ngModel)]="membership" (selectionChange)="contactHasMembership()">                   
                    <mat-option *ngFor="let phoMembership of phoMembershipList" [value]="phoMembership.id">
                        {{phoMembership.membership}}
                    </mat-option>
                    <mat-option>All</mat-option>
                </mat-select>
            </mat-form-field>            
        </div>
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="15">
            <mat-form-field>
                <mat-label>Board Members</mat-label>
                <mat-select [(ngModel)]="board" (selectionChange)="contactHasBoardMembership()">
                    <mat-option *ngFor="let boardMembership of contactPracticeBoardMembership" [value]="boardMembership.id">
                        {{boardMembership.boardName}}
                    </mat-option>
                    <mat-option>All</mat-option>
                </mat-select>
            </mat-form-field>            
        </div>        
        <div fxLayout="column" class="header-filter search-input" fxFlex="25" fxLayoutAlign="center end">
            <mat-form-field>
                <input matInput placeholder="search contacts or practices" [(ngModel)]="contactNameSearch" (change)="searchContacts($event)">                   
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>   
    <mat-table id="contact" [dataSource]="dataSourceContact" [trackBy]="trackContact" class="mat-elevation-z8" multiTemplateDataRows>       
        <ng-container matColumnDef="arrow">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <i class="material-icons rotate-icon">
                    keyboard_arrow_right                  
                </i>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="practiceName">
            <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
            <mat-cell *matCellDef="let element" class="practice-name"> {{element.practiceName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="practiceType">
            <mat-header-cell *matHeaderCellDef> PRACTICE TYPE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.practiceType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="emr">
            <mat-header-cell *matHeaderCellDef> EMR </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.emr}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> PHONE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fax">
            <mat-header-cell *matHeaderCellDef> FAX </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fax}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="websiteURL" >
            <mat-header-cell *matHeaderCellDef> WEBSITE </mat-header-cell>
            <mat-cell *matCellDef="let element" class="practicewebsitelink">               
                <ng-container *ngIf = "element.websiteURL != ''"  >                                  
                    <a href='{{element.websiteURL}}' target="_blank" (click)="$event.stopPropagation();">GO TO WEBSITE</a>                                                 
                </ng-container>                
            </mat-cell>
        </ng-container>  

        <!-- Hidden Column===============================================================-->       
        <ng-container matColumnDef="practiceId">
            <mat-header-cell *matHeaderCellDef> PracticeId </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.practiceId}} </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <!-- <app-practice-detail  [selectedPracticeId] = "element.practiceId"></app-practice-detail> -->
                <!-- <div fxLayout="row">
                    <div id="contact-details" fxLayout="column" fxFlex="55">
                        <div fxLayout="row" class="detail-heading">
                            PRACTICE DETAILS
                        </div>                                               
                        <div fxLayout="row">           
                            <form [formGroup]="ContactDetailsForm">
                                <div class="contact-element-detail" fxFlex="85">
                                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                                
                                        <div fxLayout="column" fxFlex="35">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>Practice Name </mat-label>
                                                <input matInput formControlName="practiceName" class="practice-name" readonly>
                                            </mat-form-field>                             
                                        </div>
                                        <div fxLayout="column" fxFlex="12">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>Member Since</mat-label>
                                                <input matInput formControlName="memberSince" readonly> 
                                            </mat-form-field>                                   
                                        </div>
                                        <div fxLayout="column" fxFlex="28">
                                            <a [href]="'mailto:'+ pmEmail"> 
                                                <div fxLayout="column" fxFlex="70">
                                                    <mat-form-field floatLabel="always">
                                                        <mat-label>PRACTICE MANAGER</mat-label>                                                                                             
                                                        <input matInput formControlName="practiceManager" readonly>                                                                                                                                            
                                                        <mat-icon matSuffix>email</mat-icon>                                                                                        
                                                    </mat-form-field>                                   
                                                </div>
                                            </a>
                                        </div>                                        
                                        <div fxLayout="column" [fxShow]=false>
                                            <mat-form-field floatLabel="always">
                                                <mat-label>PRACTICE MANAGER'S EMAIL</mat-label>
                                                <input matInput formControlName="pmEmail" readonly>
                                            </mat-form-field>                                    
                                        </div> 
                                        <div fxLayout="column" fxFlex="28">
                                            <a [href]="'mailto:'+  picEmail">
                                                <div fxLayout="column" fxFlex="70">
                                                    <mat-form-field floatLabel="always">
                                                        <mat-label>PIC</mat-label>                                                                                          
                                                        <input matInput formControlName="pic" readonly>                                               
                                                            <mat-icon matSuffix>email</mat-icon>                                                                                       
                                                    </mat-form-field>                                    
                                                </div>
                                            </a>     
                                        </div>                                
                                        <div fxLayout="column"  [fxShow]=false>
                                            <mat-form-field floatLabel="always">
                                                <mat-label>PIC'S EMAIL</mat-label>
                                                <input matInput formControlName="picEmail" readonly>                                        
                                            </mat-form-field>                                   
                                        </div>                                
                                        <div fxLayout="column" fxFlex [fxShow]=false>
                                            <mat-form-field floatLabel="always">
                                                <mat-label>Practice Id</mat-label>
                                                <input matInput formControlName="practiceId" readonly>
                                            </mat-form-field>                                    
                                        </div>                           
                                    </div>  
                                    <div fxLayout="row" fxLayoutGap="34px">                                                           
                                        <div fxLayout="column" fxLayoutGap="33px" class="form-row" fxFlex="95" class="location-details">
                                            <div fxLayout="column" class="detail-heading">
                                                LOCATION DETAILS
                                            </div>  
                                            <div fxLayout="column" fxLayoutGap="33px">
                                                <div fxLayout="column" formArrayName="locations"
                                                    *ngFor="let item of ContactDetailsForm.get('locations')['controls']; let i = index; last as isLast;">
                                                    <div [formGroupName]="i" class="location-details">
                                                        <div fxLayout="row" fxLayoutGap="34px" class="form-row">
                                                            <mat-form-field floatLabel="always" [fxShow]=false>
                                                                <mat-label>Practice Id</mat-label>
                                                                <input matInput formControlName="practiceId" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" [fxShow]=false>
                                                                <mat-label>Location Id</mat-label>
                                                                <input matInput formControlName="locationId" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" fxFlex="30">
                                                                <mat-label>location Name</mat-label>
                                                                <input matInput formControlName="locationName" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" class="input-w-icon" fxFlex="20">                                                        
                                                                <mat-label>Office Phone</mat-label>                                                       
                                                                <mat-icon matPrefix>phone</mat-icon>
                                                                <input matInput formControlName="officePhone" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                                <mat-label>Fax</mat-label>
                                                                <input matInput formControlName="fax" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                                <mat-label>County</mat-label>
                                                                <input matInput formControlName="county" readonly>
                                                            </mat-form-field>
                                                        </div>
                                                        <div fxLayout="row" fxLayoutGap="34px" class="form-row">                                                   
                                                            <mat-form-field floatLabel="always" fxFlex="30">
                                                                <mat-label>Address</mat-label>
                                                                <input matInput formControlName="address" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" fxFlex fxFlex="20">
                                                                <mat-label>City</mat-label>
                                                                <input matInput formControlName="city" readonly>
                                                            </mat-form-field>
                                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                                <mat-label>State</mat-label>
                                                                <input matInput formControlName="state" readonly>
                                                            </mat-form-field> 
                                                            <mat-form-field floatLabel="always" fxFlex="20">
                                                                <mat-label>Zip</mat-label>
                                                                <input matInput formControlName="zip" readonly>
                                                            </mat-form-field>                                                                 
                                                        </div>                                                                                                                                                                                                                                                                                  
                                                    </div>                                                   
                                                    <mat-divider class="locationDivider" *ngIf = "!isLast"></mat-divider>                                                                                                                                    
                                                </div>                                   
                                            </div>                                   
                                        </div>                                                           
                                    </div>                                           
                                </div>
                            </form>
                        </div>
                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div id="contact-details" style="padding-left: 1em;padding-right: 1em;" fxLayout="column" fxFlex>
                        <div fxLayout="row" class="detail-heading">
                            PROVIDER LOOKUP
                        </div>
                        <div fxLayout="column" fxLayoutGap="34px" class="form-row">  
                            <div fxLayout="column" fxFlex="70" class="contact-element-detail">
                                <mat-form-field class="providerDropdown">                                   
                                    <mat-label>SELECT PROVIDER OR STAFF</mat-label>                                                                      
                                    <mat-select [(value)]="selectedStaffId" (selectionChange)="getSelectedContactStaff($event.value)">                                     
                                        <mat-option *ngFor="let contactstaff of contactPracticeStaffList" [value]="contactstaff.staffId">
                                            {{contactstaff.staffName}}
                                        </mat-option>                                                                                                       
                                    </mat-select>
                                    <mat-icon matPrefix>person</mat-icon> 
                                </mat-form-field>                                                               
                            </div>                                                                       
                        </div>
                        <div fxLayout="column" fxLayoutGap="34px" class="form-row">  
                            <form [formGroup]="ContactProvidersForm">
                                <div class="contact-element-detail" fxFlex>                            
                                    <div fxLayout="row" fxLayoutGap="34px" class="form-row"> 
                                        <a [href]="'mailto:'+ providerEmail" fxFlex="80">                      
                                            <div fxLayout="column" fxFlex="100">
                                                <mat-form-field floatLabel="always">
                                                    <mat-label>EMAIL</mat-label>
                                                    <input matInput formControlName="email" readonly>
                                                    <mat-icon matSuffix>email</mat-icon>                                                                                     
                                                </mat-form-field>                             
                                            </div>
                                        </a>
                                        <div fxLayout="column" fxFlex="100">                                           
                                            <mat-form-field floatLabel="always">
                                                <mat-label>PHONE</mat-label>
                                                <mat-icon matPrefix>phone</mat-icon>
                                                <input matInput formControlName="phone" readonly> 
                                            </mat-form-field>                                   
                                        </div>                                                                                        
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                     
                                        <div fxLayout="column" fxFlex="100">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>POSITION</mat-label>
                                                <input matInput formControlName="position" readonly>
                                            </mat-form-field>                             
                                        </div>
                                        <div fxLayout="column" fxFlex="100">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>NPI</mat-label>
                                                <input matInput formControlName="npi" readonly> 
                                            </mat-form-field>                                   
                                        </div>                                                                                        
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                     
                                        <div fxLayout="column" fxFlex="100">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>LOCATIONS</mat-label>
                                                <input matInput formControlName="locations" readonly>
                                            </mat-form-field>                             
                                        </div>
                                        <div fxLayout="column" fxFlex="100">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>SPECIALTY</mat-label>
                                                <input matInput formControlName="specialty" readonly> 
                                            </mat-form-field>                                   
                                        </div>                                                                                        
                                    </div>
                                    <div fxLayout="row" fxLayoutGap="90px" class="form-row">                         
                                        <div fxLayout="column" fxFlex="62px" class="form-row">
                                            <mat-checkbox formControlName="specialty" disabled>Comm Specialist</mat-checkbox>                                                            
                                        </div> 
                                        <div fxLayout="column" fxFlex="62px" class="form-row">
                                            <mat-checkbox formControlName="ovpcaPhysician" disabled>OVPCA Physician</mat-checkbox>                                                            
                                        </div> 
                                        <div fxLayout="column" fxFlex="62px" class="form-row">
                                            <mat-checkbox formControlName="ovpcaMidLevel" disabled>OVPCA Mid Level</mat-checkbox>                                                            
                                        </div>                                                                                                                                      
                                    </div>                         
                                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                     
                                        <div fxLayout="column" fxFlex="100">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>RESPONSIBILITIES</mat-label>
                                                <input matInput formControlName="responsibilities" readonly>
                                            </mat-form-field>                             
                                        </div>
                                        <div fxLayout="column" fxFlex="100">
                                            <mat-form-field floatLabel="always">
                                                <mat-label>BOARD MEMBERSHIP</mat-label>
                                                <input matInput formControlName="boardMembership" readonly> 
                                            </mat-form-field>                                   
                                        </div>                                                                                        
                                    </div>  
                                    <div fxLayout="row" fxLayoutGap="34px" class="form-row">                      
                                        <div fxLayout="column" fxFlex>
                                            <mat-form-field floatLabel="always">
                                                <mat-label>NOTES ABOUT THIS PROVIDER</mat-label>
                                                <input matInput formControlName="notesAboutProvider" readonly> 
                                            </mat-form-field>                                   
                                        </div>                                                                                        
                                    </div>                                                                               
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns" 
            class="contact-element-row"
            [class.contact-expanded-row]="expandedElement === element"            
            (click)="expandedElement=expandedElement===element ? null : element;loadPracticeDetail()">
        </mat-row>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="contact-detail-row"></tr>
    </mat-table>   
    <div fxLayout="row" fxLayoutGap="34px" *ngIf="userCanSendEmail" class="contactEmailButtonAlign">
        <div><button mat-flat-button class="contactEmail" (click)="openEmailToManagersDialog()">E-MAIL MANAGERS</button></div>
        <div><button mat-flat-button class="contactEmail" (click)="openEmailToAdminsDialog()">E-MAIL ADMINS</button></div>
        <div><button mat-flat-button class="contactEmail" (click)="openEmailToAllDialog()" matTooltip="The maximum number of recipients is 500.">E-MAIL ALL</button></div>
    </div>  
</div>

 <!------------------- Contact Email Dialogs ------------>
 <ng-template #contactEmailDialog let-dialogRef="dialogRef"> 
    <div mat-dialog-content class="mat-typography" id="contactEmailDialog">
        <div class="detail-heading">
            Select Recipients
        </div>
        <div>
            <div>
                <h2 mat-dialog-title class="emailFilter">{{ emailReceiversRole }}</h2>
                <div fxLayout="row" fxLayoutGap="34px">
                    <mat-table id="emailDialog" class="emailDialogColumn" [dataSource]="contactEmailList">
                        <!-- checkbox Column -->
                        <ng-container matColumnDef="emailCheckbox">
                            <th mat-header-cell *matHeaderCellDef></th>                  
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox [(ngModel)]="element.email"></mat-checkbox>
                            </td>
                        </ng-container>
                      
                        <!-- Staff Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Staff Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
                        </ng-container>
                      
                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef> Email </th>
                          <td mat-cell *matCellDef="let element"> 
                            <ng-container *ngIf = "element.email"> 
                                {{element.email}} 
                            </ng-container>                             
                         </td>
                        </ng-container>
                      
                        <!-- Practice Name Column -->
                        <ng-container matColumnDef="practice">
                          <th mat-header-cell *matHeaderCellDef> Practice Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.myPractice.name}} </td>
                        </ng-container>
                      
                        <!-- Staff Role Column -->
                        <ng-container matColumnDef="staffRole">
                          <th mat-header-cell *matHeaderCellDef> Staff Role </th>
                          <td mat-cell *matCellDef="let element"> {{element.position.name}} </td>
                        </ng-container>               
                      
                        <tr mat-header-row *matHeaderRowDef="displayedEmailDialogColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedEmailDialogColumns;"></tr>
                    </mat-table>
                </div>
                
            </div>
            <div mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
                <div><button mat-flat-button class="contactEmailDialog" (click)="updateEmailReceivers($event)">SEND E-MAIL</button></div>              
               <div><button mat-flat-button class="contactEmailDialog" mat-dialog-close>CANCEL</button></div>           
            </div>                        
        </div>                       
    </div>
 </ng-template>

