<div id="contactPage" class="content-main"> 
    <div fxLayout="row" class="contacts-header">
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="5">           
            <button mat-button (click)="refreshContactPage()">All PHO</button>
        </div>       
        <div fxLayout="column" [ngStyle]="{'color': textColor}" class="header-filter filter-btn" fxFlex="10">           
            <button mat-button #qpl (click)="hasQPLFilter($event)">QPLs and PAs</button>
        </div>
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="20">
            <mat-form-field>
                <mat-label>Specialty</mat-label>
                <mat-select [(ngModel)]="specialties" (ngModelChange)="specialties" multiple (selectionChange)="contactHasSpecialties($event)">                   
                    <mat-option *ngFor="let specialty of contactPracticeSpecialties" [value]="specialty.id">
                        {{specialty.specialtyName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>            
        </div>        
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="15">
            <mat-form-field>
                <mat-label>PHO Membership</mat-label>              
                    <mat-select [(ngModel)]="membership" (selectionChange)="contactHasMembership()">                   
                    <mat-option *ngFor="let phoMembership of phoMembershipList" [value]="phoMembership.id">
                        {{phoMembership.membership}}
                    </mat-option>
                    <mat-option>All</mat-option>
                </mat-select>
            </mat-form-field>            
        </div>
        <div fxLayout="column" class="header-filter filter-btn" fxFlex="15">
            <mat-form-field>
                <mat-label>Board Members</mat-label>
                <mat-select [(ngModel)]="board" (selectionChange)="contactHasBoardMembership()">
                    <mat-option *ngFor="let boardMembership of contactPracticeBoardMembership" [value]="boardMembership.id">
                        {{boardMembership.boardName}}
                    </mat-option>
                    <mat-option>All</mat-option>
                </mat-select>
            </mat-form-field>            
        </div>        
        <div fxLayout="column" class="header-filter search-input" fxFlex="25" fxLayoutAlign="center end">
            <mat-form-field>
                <input matInput placeholder="search contacts or practices" [(ngModel)]="contactNameSearch" (change)="searchContacts($event)">                   
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>   
    <mat-table id="contact" [dataSource]="dataSourceContact" [trackBy]="trackContact" class="mat-elevation-z8" multiTemplateDataRows>       
        <ng-container matColumnDef="arrow">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <i class="material-icons rotate-icon">
                    keyboard_arrow_right                  
                </i>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="practiceName">
            <mat-header-cell *matHeaderCellDef> NAME </mat-header-cell>
            <mat-cell *matCellDef="let element" class="practice-name"> {{element.practiceName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="practiceType">
            <mat-header-cell *matHeaderCellDef> PRACTICE TYPE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.practiceType}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="emr">
            <mat-header-cell *matHeaderCellDef> EMR </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.emr}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> PHONE </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fax">
            <mat-header-cell *matHeaderCellDef> FAX </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fax}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="websiteURL" >
            <mat-header-cell *matHeaderCellDef> WEBSITE </mat-header-cell>
            <mat-cell *matCellDef="let element" class="practicewebsitelink">               
                <ng-container *ngIf = "element.websiteURL != ''"  >                                  
                    <a href='{{element.websiteURL}}' target="_blank" (click)="$event.stopPropagation();">GO TO WEBSITE</a>                                                 
                </ng-container>                
            </mat-cell>
        </ng-container>  

        <!-- Hidden Column===============================================================-->       
        <ng-container matColumnDef="practiceId">
            <mat-header-cell *matHeaderCellDef> PracticeId </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.practiceId}} </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">               
                <app-practice-detail  [selectedPracticeId] = "element.practiceId" *ngIf="expandedElement===element"></app-practice-detail>         
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns" 
            class="contact-element-row"
            [class.contact-expanded-row]="expandedElement === element"            
            (click)="expandedElement=expandedElement===element ? null : element;">
        </mat-row>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="contact-detail-row"></tr>
    </mat-table>   
    <div fxLayout="row" fxLayoutGap="34px" *ngIf="userCanSendEmail" class="contactEmailButtonAlign">
        <div><button mat-flat-button class="contactEmail" (click)="openEmailToManagersDialog()">E-MAIL MANAGERS</button></div>
        <div><button mat-flat-button class="contactEmail" (click)="openEmailToPhysiciansDialog()">E-MAIL PHYSICIANS</button></div>
        <div><button mat-flat-button class="contactEmail" (click)="openEmailToAllDialog()" matTooltip="The maximum number of recipients is 500.">E-MAIL ALL</button></div>
    </div>  
</div>

 <!------------------- Contact Email Dialogs ------------>
 <ng-template #contactEmailDialog let-dialogRef="dialogRef"> 
    <div mat-dialog-content class="mat-typography" id="contactEmailDialog">
        <div class="detail-heading">
            Select Recipients
        </div>
        <div>
            <div>
                <h2 mat-dialog-title class="emailFilter">{{ emailReceiversRole }}</h2>
                <div fxLayout="row" fxLayoutGap="34px">
                    <mat-table id="emailDialog" class="emailDialogColumn" [dataSource]="contactEmailList">
                        <!-- checkbox Column -->
                        <ng-container matColumnDef="emailCheckbox">
                            <th mat-header-cell *matHeaderCellDef></th>                  
                            <td mat-cell *matCellDef="let element">
                                <mat-checkbox [(ngModel)]="element.email"></mat-checkbox>
                            </td>
                        </ng-container>
                      
                        <!-- Staff Name Column -->
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef> Staff Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.firstName + ' ' + element.lastName}} </td>
                        </ng-container>
                      
                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                          <th mat-header-cell *matHeaderCellDef> Email </th>
                          <td mat-cell *matCellDef="let element"> 
                            <ng-container *ngIf = "element.email"> 
                                {{element.email}} 
                            </ng-container>                             
                         </td>
                        </ng-container>
                      
                        <!-- Practice Name Column -->
                        <ng-container matColumnDef="practice">
                          <th mat-header-cell *matHeaderCellDef> Practice Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.myPractice.name}} </td>
                        </ng-container>
                      
                        <!-- Staff Role Column -->
                        <ng-container matColumnDef="staffRole">
                          <th mat-header-cell *matHeaderCellDef> Staff Role </th>
                          <td mat-cell *matCellDef="let element"> {{element.position.name}} </td>
                        </ng-container>               
                      
                        <tr mat-header-row *matHeaderRowDef="displayedEmailDialogColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedEmailDialogColumns;"></tr>
                    </mat-table>
                </div>
                
            </div>
            <div mat-dialog-actions fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
                <div><button mat-flat-button class="contactEmailDialog" (click)="updateEmailReceivers($event)">SEND E-MAIL</button></div>              
               <div><button mat-flat-button class="contactEmailDialog" mat-dialog-close>CANCEL</button></div>           
            </div>                        
        </div>                       
    </div>
 </ng-template>