@model PHO_WebApp.Models.UserDetails
<div class="pho-login navbar-nav mb-lg-0" style="float:right;">
    @if (Model != null && Model.UserName != null)
    {
        string loginText = "Welcome, " + Model.UserName;

        <div class="container">
            <div class="row"><span>@Html.Label(loginText, new { @class = "login-welcome" }) | @Html.ActionLink("Log out", "Logout", "Login", null)</span></div>
            <div class="row"><p class="login-practice">@(Model.PracticeName)</p></div>
        </div>


    }
    else
    {
        @:<a href='javascript:showLogonDialog();'>Log In</a>
        <script type="text/javascript">

        function showLogonDialog() {
            if( $("#dlgLogin").length == 0 ){
                // ajax load
                $('#divLogon').load("@Url.Action("OpenLogin", "Login")");
            } else {
                // clear username & password fields
                $('#username,#password').val('');

                // reopen the login dialog which was previously rendered
                $("#dlgLogin").dialog("open");
            }
        }
        </script>
    }


</div>







