@model PHO_WebApp.Models.UserDetails
    @{
        if (Model != null && Model.UserName != null)
        {
            string loginText = "Welcome " + Model.UserName + "! - Logout";
            <li>@Html.ActionLink(loginText, "Logout", "Login")</li>
        }
        else
        {
            <li>@Html.ActionLink("Login", "Index", "Home")</li>
        }
    }

